.header {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  &__top {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    float: left;
    width: 100%;
    border-bottom: 1px solid #e3e3e3;
    z-index: 2;
    @include breakpoint(max-width 992px){
      position: relative;
    }
    /*@include breakpoint(max-width 660px){
      position: relative;
    }*/
  }
  &__top-links {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 13px;
    @include box-sizing(border-box);
    @include breakpoint(max-width 992px) {
      padding: 15px 15px;
      @include box-sizing(border-box);
    }
    &--region {
      display: block;
      position: relative;
      float: left;
      max-width: 290px;
      color: #0e0e0e;
      font-size: 13px;
      font-weight: 300;
      @include breakpoint(max-width 992px) {
        margin-left: 15px;
        @include box-sizing(border-box);
      }
      > span {
        display: block;
        position: relative;
        float: left;
      }
      > span:before {
        display: block;
        position: absolute;
        content: '';
        width: 14px;
        height: 16px;
        overflow: hidden;
        top: 0;
        left: -20px;
        background-image: url('../i/icons/map-marker-icon.png');
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
      }
      > a {
        display: block;
        position: relative;
        float: left;
        max-width: 100px;
        margin-left: 2px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #0e0e0e;
        font-size: 13px;
        font-weight: 300;
      }
      > a:hover {
        color: #0e0e0e;
        text-decoration: underline;
        text-decoration-style: dotted;
      }
    }
    &--hover-region{
      display: none;
      position: absolute;
      width: 370px;
      top: 34px;
      left: 0;
      background-color: #fff;
      box-shadow: 0 0 6px rgba(1, 1, 1, 0.3);
      z-index: 2;
      @include breakpoint(max-width 660px){
        width: 300px;
      }
      > h3{
        display: block;
        position: relative;
        float: left;
        width: 100%;
        margin-top: 26px;
        margin-bottom: 27px;
        padding: 0 20px;
        @include box-sizing(border-box);
        color: #0e0e0e;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: -.16px;
        > span{
          font-weight: 700;
        }
      }
      > .links{
        display: block;
        position: relative;
        float: left;
        width: 100%;
        padding: 0 20px;
        @include box-sizing(border-box);
        margin-bottom: 20px;
        .yes{
          display: block;
          position: relative;
          float: left;
          width: calc(50% - 6px);
          height: 37px;
          margin-right: 6px;
          background-color: #71c438;
          border-radius: 25px;
          text-align: center;
          color: #fff;
          font-size: 14px;
          font-weight: 400;
          line-height: 36px;
          &:hover{
            color: #fff;
          }
        }
        .chose{
          display: block;
          position: relative;
          float: left;
          width: calc(50% - 6px);
          height: 37px;
          margin-right: 6px;
          background-color: #f4f4f4;
          border-radius: 25px;
          text-align: center;
          color: #000;
          font-size: 14px;
          font-weight: 400;
          line-height: 36px;
          &:hover{
            color: #fff;
            background-color: #c12025;
          }
        }
      }
      &:before{
        display: block;
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        top: -16px;
        left: 17px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 16px solid rgba(1,1,1,.3);
      }
      &:after{
        display: block;
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        top: -14px;
        left: 17px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 16px solid #fff;
      }
    }
    &--cabinet {
      display: block;
      position: relative;
      float: right;
      max-width: 144px;
      @include breakpoint(max-width 992px) {
        position: absolute;
        top: 15px;
        right: 0;
      }
    }
    &--cabinet-submenu{
      display: none;
      position: absolute;
      width: 176px;
      top: 34px;
      right: 0;
      padding: 0;
      margin: 0;
      list-style: none;
      background-color: #ffffff;
      z-index: 2;
      border: 1px solid #c12025;
      li{
        width: 100%;
        a{
          display: block;
          position: relative;
          float: left;
          width: 100%;
          padding: 17px 0;
          @include box-sizing(border-box);
          text-align: center;
          color: #0e0e0e;
          font-size: 13px;
          font-weight: 300;
          text-decoration: none;
          border-bottom: 1px solid #c12025;
          margin-bottom: -1px;
          @include transition(0.4s);
          &:hover{
            background-color: #c12025;
            color: #fff;
            @include transition(0.4s);
          }
        }
      }
    }
    &--enter {
      display: block;
      position: relative;
      float: left;
      color: #0e0e0e;
      font-size: 13px;
      font-weight: 300;
      text-decoration: underline;
      text-decoration-style: dotted;
      &:hover {
        color: #0e0e0e;
        text-decoration: none;
      }
      &:first-of-type:before {
        display: block;
        position: absolute;
        content: '';
        width: 17px;
        height: 18px;
        overflow: hidden;
        top: 0;
        left: -26px;
        background-image: url('../i/icons/user-icon.png');
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
      }
      &:nth-of-type(2) {
        margin-left: 15px;
        &:before {
          display: block;
          position: absolute;
          content: '/';
          color: #0e0e0e;
          font-size: 16px;
          font-weight: 300;
          top: -1px;
          left: -10px;
        }
      }
    }
    &--tools {
      @include display-flex(flex);
      @include flex-wrap(wrap);
      @include flex-direction(row);
      @include justify-content(flex-end);
      position: relative;
      float: left;
      width: calc(100% - 270px);
      padding-right: 109px;
      @include box-sizing(border-box);
      @include breakpoint(max-width 992px) {
        width: 100%;
        @include justify-content(center);
        padding: 15px 15px;
      }
      @include breakpoint(max-width 660px) {
        @include flex-direction(column);
      }
      > .element {
        display: block;
        position: relative;
        float: left;
        color: #0e0e0e;
        font-size: 13px;
        font-weight: 300;
        line-height: 18px;
        padding-left: 18px;
        padding-right: 18px;
        @include box-sizing(border-box);
        @include breakpoint(max-width 660px) {
          margin: 5px 0;
        }
        &:after {
          display: block;
          position: absolute;
          content: '';
          width: 1px;
          height: 14px;
          background-color: #e3e3e3;
          top: 4px;
          right: 0;
          @include breakpoint(max-width 660px){
            display: none;
          }
        }
        &:last-of-type:after {
          display: none;
        }
        .icon {
          display: block;
          position: relative;
          float: left;
          width: 20px;
          height: 22px;
          margin-right: 9px;
          margin-top: -2px;
          overflow: hidden;
          img {
            object-fit: contain;
          }
        }
        .counter {
          display: block;
          position: absolute;
          max-width: 40px;
          color: #0e0e0e;
          background-color: #d6d5d5;
          padding: 4px;
          @include box-sizing(border-box);
          font-size: 10px;
          font-weight: 400;
          line-height: 8px;
          top: -12px;
          /* right: 0; */
          margin-left: 10px;
          border-radius: 15px;
          white-space: normal;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
  &__logo{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    margin-top: 48px;
    @include breakpoint(max-width 660px){
      margin-top: 0;
    }
    .logo{
      margin-top: 7px;
      @include breakpoint(max-width 660px){
        margin-left: calc(50% - (270px/2));
      }
    }
  }
}