<!-- start html_open.html-->
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="../static/css/libs.min.css" rel="stylesheet" type="text/css">
    <link href="../static/css/styles.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- open .header -->
<!-- end html_open.html-->

<header class="header">

    <div class="header__top">

        <div class="container">

            <div class="header__top-links">

                <div class="header__top-links--region">
                    <span>Ваш регион:</span>

                    <a href="#" class="city-select">Москва</a>

                    <div class="header__top-links--hover-region">

                        <h3>Ваш регион <span>Москва</span>?</h3>

                        <div class="links">
                            <a href="#" class="yes">Да, верно</a>
                            <a href="#" class="chose">Выбрать другой</a>
                        </div>

                    </div>

                </div>



                <div class="header__top-links--cabinet">

                    <a href="authorization.html" class="header__top-links--enter">Вход</a>
                    <a href="buyer-registration.html" class="header__top-links--enter">Регистрация</a>

                </div>

            </div>
        </div>

    </div>

    <div class="header__logo">

        <div class="container">

            <a href="index.html" class="logo">
                <img src="../static/i/OAMI-logo.svg" alt="">
            </a>

<!-- start search.html-->
<section class="search">

        <form class="search__form">

            <input class="search__form--field" type="text" placeholder="Поиск среди товаров">
            <div class="search__form--upload">
                <p class="search__form--example">Apple</p>
                <p class="search__form--example">Apple Ipad</p>
                <p class="search__form--example">Apple Iphone</p>
            </div>

            <div class="search__form--categories">

                <!--<div class="search__form&#45;&#45;trigger">-->
                    <select class="search__form--select" name="" id="">
                        <option value="0">Все категории</option>
                        <option value="1">Все для ремонта</option>
                        <option value="2">Увлечения и хобби</option>
                        <option value="3">Детские товары</option>
                        <option value="4">Спорт и отдых</option>
                        <option value="5">Красота и здоровье</option>
                        <option value="6">Софт и программы</option>
                        <option value="7">Все для дачи</option>
                        <option value="8">Праздники и торжества</option>
                        <option value="9">Еда и напитки</option>
                        <option value="10">Обувь и сумки</option>
                        <option value="11">Другие категории</option>
                        <option value="12">Скидки и акции</option>
                    </select>
                    <span class="search__form--arrow"></span>

                   <!--<span class="search__form&#45;&#45;title" data-id="0">-->
                                    <!--Все категории</span>-->
                   <!--<span class="search__form&#45;&#45;arrow"></span>-->
               <!-- </div>-->
                <!--<ul class="search__form&#45;&#45;list">-->
                    <!--<li data-id="1">Все для ремонта</li>-->
                    <!--<li data-id="2"> Увлечения и хобби</li>-->
                    <!--<li data-id="3"> Детские товары</li>-->
                    <!--<li data-id="4">Спорт и отдых</li>-->
                    <!--<li data-id="5">Красота и здоровье</li>-->
                    <!--<li data-id="6">Софт и программы</li>-->
                    <!--<li data-id="7">Все для дачи</li>-->
                    <!--<li data-id="8">Праздники и торжества</li>-->
                    <!--<li data-id="9">Еда и напитки</li>-->
                    <!--<li data-id="10">Обувь и сумки</li>-->
                    <!--<li data-id="11">Другие категории</li>-->
                    <!--<li data-id="12">Скидки и акции</li>-->
                <!--</ul>-->

            </div>

            <button class="search__form--submit" type="submit">
                <span><img src="../static/i/icons/search-icon.png" alt=""></span>
            </button>

        </form>

        <a href="#" class="partner">
            <span><img src="../static/i/icons/shake-hands-icon.png" alt=""></span>
            <span>Стать партнером</span>
        </a>

</section>
<!-- end search.html-->

        </div>

    </div>

</header>

<section class="regist">

    <div class="container">

        <ul class="breadcrumbs">
            <li><a href="#">Главная</a></li>
            <li><a href="#">Личный кабинет</a></li>
            <li><a href="#">Регистрация</a></li>
        </ul>

        <h1 class="regist__title">Регистрация нового пользователя</h1>

        <form class="regist__buyer-form" action="">

            <div class="regist__column">

                <h3 class="title">Быстрая и надежная регистрация
                    <span class="mobile-trigger"></span>
                </h3>

                <div class="regist__column--wrapper">

                    <ul class="regist__tabs">
                        <li><a href="buyer-registration.html">Я Покупатель</a></li>
                        <li><a href="seller-registration.html">Я Продавец</a></li>
                    </ul>

                    <div class="regist__form" action="">

                        <label class="regist__form--label" for="1_1">Ваше имя <span>*</span></label>
                        <input id="1_1" class="regist__form--field" type="text"
                               placeholder="Представьтесь" required>

                        <label class="regist__form--label" for="1_2">Ваш E-mail адрес <span>*</span></label>
                        <input id="1_2" class="regist__form--field" type="text"
                               placeholder="Введите вашу почту" required>

                        <label class="regist__form--label" for="1_3">Пароль <span>*</span></label>
                        <input id="1_3" class="regist__form--field" type="text"
                               placeholder="Придумайте пароль" required>

                        <label class="regist__form--label" for="1_4">Повторите пароль <span>*</span></label>
                        <input id="1_4" class="regist__form--field" type="text"
                               placeholder="Для надежности" required>

                        <label class="regist__form--label" for="1_5">Телефон</label>
                        <input id="1_5" class="regist__form--field" type="text"
                               placeholder="+7 (___) ___ __ __" required>

                        <label class="regist__form--label" for="1_5">Пол</label>
                        <div class="regist__form--radios">
                            <input type="radio" id="gender_1"
                                   name="gender" value="male">
                            <label for="gender_1">
                                <span></span>
                                Мужской</label>
                            <input type="radio" id="gender_2"
                                   name="gender" value="male">
                            <label for="gender_2">
                                <span></span>
                                Женский</label>
                        </div>

                        <input id="1_23" class="regist__form--checkbox" type="checkbox">
                        <label class="regist__form--forcheck" for="1_23">
                            <span class="regist__form--checked"></span>
                        <span class="name">Нажимая на кнопку «Подтвердить», я соглашаюсь с
                        <a href="#" class="offer-doc">условиями Публичной оферты.</a></span>
                        </label>

                        <p class="regist__form--notice"><span>*</span> Поля обязательны для заполнения</p>

                    </div>

                </div>


            </div>

            <div class="regist__column">

                <h3 class="title">Через соц.сети
                    <span class="mobile-trigger"></span>
                </h3>

                <div class="regist__column--wrapper">

                    <a class="regist__column--social" href="">
                        <span class="icon fb"><i class="fa fa-facebook" aria-hidden="true"></i></span>
                        <span class="descr">Войти через Facebook</span>
                    </a>
                    <a class="regist__column--social" href="">
                        <span class="icon vk"><i class="fa fa-vk" aria-hidden="true"></i></span>
                        <span class="descr">Войти через Вконтакте</span>
                    </a>
                    <a class="regist__column--social" href="">
                        <span class="icon gplus"></span>
                        <span class="descr">Войти через Facebook</span>
                    </a>

                    <p class="subtitle">В чем плюс данного выбора?</p>

                    <ul class="regist__column--list">
                        <li>Быстрая авторизация на сайте</li>
                        <li>Отсутствие активации аккаунта</li>
                        <li>Надежное хранение данных</li>
                    </ul>
                </div>

            </div>

            <button class="regist__form--submit" type="submit">Подтвердить</button>

        </form>


    </div>

</section>

<!-- start footer.html-->
<footer class="footer">

    <div class="catalog__bg"></div>

    <div class="container">

        <div class="footer__nav">

            <ul class="footer__list">
                <li class="footer__title">Покупателям
                    <ul>
                        <li class="footer__subtitle"><a href="#">Покупки на Safe-Shopping</a></li>
                        <li class="footer__subtitle"><a href="#">Доставка и оплата товаров</a></li>
                        <li class="footer__subtitle"><a href="#">Пользовательское соглашение</a></li>
                        <li class="footer__subtitle"><a href="#">Юридическим лицам</a></li>
                        <li class="footer__subtitle"><a href="#">Рассылка</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="footer__list">
                <li class="footer__title">Магазинам
                    <ul>
                        <li class="footer__subtitle"><a href="#">Истории успеха</a></li>
                        <li class="footer__subtitle"><a href="#">Торговля на Safe-Shopping</a></li>
                        <li class="footer__subtitle"><a href="#">Все еще думаете?</a></li>
                        <li class="footer__subtitle"><a href="#">Добавить магазин</a></li>
                        <li class="footer__subtitle"><a href="#">Договор оферты</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="footer__list">
                <li class="footer__title">О компании
                    <ul>
                        <li class="footer__subtitle"><a href="#">Сотрудничество</a></li>
                        <li class="footer__subtitle"><a href="#">Отзывы</a></li>
                        <li class="footer__subtitle"><a href="#">Пресс-центр</a></li>
                        <li class="footer__subtitle"><a href="#">Контактные данные</a></li>
                    </ul>
                </li>
            </ul>

        </div>

        <div class="footer__socials">

            <h3 class="footer__title">Подружитесь с нами:</h3>

            <p class="footer__subtitle">Мы ежедневно публикуем скидки и промокоды</p>

            <div class="footer__socials--links">

                <a href="#">
                    <img src="../static/i/icons/vk-icon.png" alt="">
                </a>
                <a href="#">
                    <img src="../static/i/icons/fb-icon.png" alt="">
                </a>
                <a href="#">
                    <img src="../static/i/icons/odn-icon.png" alt="">
                </a>
                <a href="#">
                    <img src="../static/i/icons/tw-icon.png" alt="">
                </a>
                <a href="#">
                    <img src="../static/i/icons/gplus-icon.png" alt="">
                </a>
                <a href="#">
                    <img src="../static/i/icons/inst-icon.png" alt="">
                </a>

            </div>

        </div>

    </div>

    <div class="footer__bottom">

        <div class="container">

            <p>© Safe-Shopping - Все права защищены.</p>

            <div class="footer__pay-sys">
                <span><img src="../static/i/icons/paypal-icon.png" alt=""></span>
                <span><img src="../static/i/icons/visa-icon.png" alt=""></span>
                <span><img src="../static/i/icons/mastercard-icon.png" alt=""></span>
            </div>

        </div>

    </div>

</footer>

<div id="city-selection" class="modal-city">

    <h3 class="title">Ваш город</h3>

    <span class="modal-city__close"></span>

    <p class="subtitle">Выберете город, в котором собираетесь получать товар. <br>
        От выбора зависит стоимость товара и доставки.
    </p>

    <form action="" class="modal-city__form">

        <input class="modal-city__form--field" type="text" placeholder="Ввведите название города">

        <p class="subtitle">Например: Москва, Санкт-Петербургб еще </p>

        <button class="modal-city__form--submit" type="submit">Сохранить</button>

    </form>

</div>

<div id="black-overlay"></div>
<!-- end footer.html-->

<div id="offer-modal" class="offer-modal">

    <span class="offer-modal__close"></span>

    <h3 class="offer-modal__title">Пользовательское соглашение онлайн площадки «Safe Shopping»</h3>

    <div class="offer-modal__box">

        <ul>
            <li> г. Москва <br>
                дата публикации: 29 июня 2015 года
            </li>
            <li class="title">1. Ваши отношения с Safe Shopping
                <ul>
                    <li>1.1. Настоящее Пользовательское соглашение онлайн торгового центра «Викимарт» регулирует порядок
                        пользования
                        услугами, предоставляемыми Викимартом Пользователям, Посетителям и Клиентам при совершении
                        покупок в
                        онлайн
                        торговом центре «Викимарт», а также порядок использования сервисов онлайн торгового центра
                        «Викимарт», совместно
                        именуемые далее – Услуги.
                    </li>
                    <li>1.2. Настоящее Соглашение вступает в силу с момента выражения Вами согласия с его условиями
                        путем
                        регистрации в
                        онлайн торговом центре «Викимарт».
                    </li>
                    <li>1.3. В целях настоящего Соглашения используются следующие основные термины и определения:
                        Онлайн торговый центр «Викимарт» представляет собой информационную систему онлайн-торговли,
                        функционирующую в
                        открытом доступе в сети Интернет на веб-сайте по адресу: http://www.wikimart.ru;
                        Викимарт - Общество с ограниченной ответственностью «Викимарт»;
                        ОГРН 5087746022250
                        Юридический адрес: 105082 г.Москва, ул.Б.Почтовая, д.26В, стр.2;
                        Почтовый адрес: 115114, г. Москва, ул. Летниковская, д.11/10, стр. 7;
                        Тел./ факс (495) 663-22-93
                        Сайт Safe Shopping - веб-сайт, размещенный в сети Интернет в свободном доступе по адресу:
                        http://www.wikimart.ru.
                    </li>
                    <li>1.4. В онлайн торговом центре «Викимарт» предлагаются к продаже товары как магазина «Викимарт»,
                        так
                        и третьих
                        лиц, предлагающих к продаже товары в онлайн торговом центре «Викимарт» через магазины, далее -
                        Заказчики.
                        При совершении Вами покупок у третьих лиц, предлагающих товары к продаже в онлайн торговом
                        центре
                        «Викимарт» все
                        права и обязанности возникают непосредственно у Вас и Заказчика, являющегося владельцем и/или
                        администратором
                        магазина, зарегистрированного в онлайн торговом центре «Викимарт», предлагающего к продаже
                        товары в
                        онлайн
                        торговом центре «Викимарт».
                    </li>
                    <li>1.5. В онлайн торговом центре «Викимарт» Посетителям, Пользователям, Клиентам предоставляется
                        Викимартом целый
                        ряд сервисов, призванных обеспечить простоту, удобство и безопасность покупок.
                    </li>
                </ul>
            </li>
            <li class="title">
                2. Предоставление Услуг Safe Shopping
                <ul>
                    <li> 2.1. Вы признаете и соглашаетесь, что форма и характер Услуг, предоставляемых Викимартом Вам
                        как
                        Пользователю,
                        могут быть изменены Викимартом в любое время в одностороннем порядке без предварительного
                        уведомления.
                    </li>
                    <li> 2.2. Принимая во внимание непрерывное внедрение новых разработок в целях улучшения качества
                        предоставляемых
                        Услуг, Вы признаете и соглашаетесь с тем, что Викимарт вправе по собственному усмотрению в любое
                        время
                        прекратить (временно или окончательно) предоставление Услуг (полностью или в части) всем
                        Пользователям или
                        конкретному Пользователю онлайн торгового центра «Викимарт» без предварительного уведомления.
                    </li>
                    <li>2.3. Вы признаете и соглашаетесь с тем, что, если Викимарт лишает Вас доступа к Вашему аккаунту
                        в
                        онлайн
                        торговом центре «Викимарт», Вы можете утратить доступ к Услугам, сведениям Вашего аккаунта,
                        любым
                        файлам или
                        иной информации, содержащейся в Вашем аккаунте.
                    </li>
                </ul>
            </li>
            <li class="title">3. Пользование Услугами Safe Shopping
                <ul>
                    <li>3.1. Для того чтобы получить доступ к определенным Услугам, от Вас может потребоваться
                        предоставление информации
                        о себе, в том числе персональных данных, контактных данных, в рамках процесса регистрации в
                        онлайн
                        торговом
                        центре «Викимарт». Вы соглашаетесь, что любая информация, которую Вы предоставляете Викимарту в
                        процессе
                        регистрации в онлайн торговом центре «Викимарт», всегда будет точной, достоверной и актуальной.
                    </li>
                    <li> 3.2. Вы соглашаетесь пользоваться Услугами исключительно в целях, разрешенных (а) настоящим
                        Соглашением, (б)
                        применимым законодательством Российской Федерации и обычаями делового оборота, принятыми в
                        Российской Федерации.
                    </li>
                    <li>3.3. Вы соглашаетесь не осуществлять и не предпринимать попыток получить доступ к каким-либо
                        Услугам
                        иным
                        способом, кроме как через интерфейс, предоставленный Викимартом, за исключением случаев, когда
                        такие
                        действия
                        были прямо разрешены Вам в соответствии с отдельным соглашением с Викимартом.
                    </li>
                    <li> 3.4. Вы соглашаетесь не осуществлять какую-либо деятельность, которая препятствует
                        предоставлению
                        Услуг или
                        работе соответствующих серверов или сетей, которые связаны с Услугами, либо нарушает порядок их
                        предоставления.
                    </li>
                    <li>3.5. Вы соглашаетесь не воспроизводить, не дублировать, не копировать, не продавать и не
                        перепродавать Услуги
                        для каких-либо целей, за исключением случаев, когда такие действия были прямо разрешены Вам в
                        соответствии с
                        отдельным соглашением с ООО «Викимарт».
                    </li>
                    <li>3.6. Вы соглашаетесь с тем, что Вы несете ответственность за любое нарушение Вами обязательств,
                        предусмотренных
                        настоящим Соглашением, а также за все последствия нарушений, включая возмещение причиненных
                        Викимарту убытков.
                    </li>
                    <li>3.7. Вы согласны с тем, что Вы должны самостоятельно оценивать все риски, связанные с
                        использованием
                        контента,
                        включая оценку надежности, полноты или полезности этого контента.
                    </li>
                    <li>3.8. Вы соглашаетесь не воспроизводить, не дублировать, не копировать, не продавать и не
                        перепродавать, а также
                        не использовать для каких-либо коммерческих целей какие-либо части сайта Викимарт, за
                        исключением
                        случаев, когда
                        такие действия были прямо разрешены Вам в соответствии с отдельным соглашением с ООО «Викимарт».
                    </li>
                    <li>3.9. Некоторые товары и информационные материалы в онлайн торговом центре «Викимарт» могут
                        содержать
                        информацию
                        и/или предназначаться исключительно для взрослых. Вы соглашаетесь воздержаться от покупки данных
                        товаров и/или
                        доступа к соответствующим информационным материалам, предлагающим к продаже описанные выше
                        товары,
                        если Ваш
                        возраст менее 18 лет на момент посещения сайта Викимарт.
                    </li>
                    <li>3.10. Вы понимаете, что технология работы онлайн торгового центра «Викимарт» может потребовать
                        передачи Вашего
                        контента по компьютерным сетям, а также изменения его в целях приведения в соответствие
                        техническим
                        требованиям
                        Викимарта и/или внешних поставщиков услуг.
                    </li>
                    <li>3.11. Вы соглашаетесь получать на регулярной основе рассылку с рекламно-информационными
                        материалами
                        о
                        деятельности онлайн торгового центра «Викимарт», о деятельности Викимарта, предлагаемых
                        Викимартом
                        Услугах,
                        товарах, предлагаемых к продаже в онлайн торговом центре «Викимарт», конкурсах, акциях,
                        спецпредложениях и так
                        далее. В случае необходимости отозвать свое согласие Вы можете сделать это, выполнив следующие
                        действия: нажмите
                        на ссылку, расположенную в конце каждого маркетингового сообщения электронной почты от
                        wikimart.ru,
                        и на ваш
                        электронный адрес будут полностью приостановлены рекламные рассылки от Викимарта.
                    </li>
                </ul>
            </li>
            <li class="title">4. Ваши пароли и защищенность аккаунта
                <ul>
                    <li>4.1. Вы соглашаетесь и понимаете, что Вы несете ответственность за обеспечение
                        конфиденциальности
                        паролей,
                        связанных с любым аккаунтом, используемым Вами для доступа к Услугам.
                    </li>
                    <li>4.2. Вы соглашаетесь, что Вы несете ответственность перед Викимартом за все действия, которые
                        совершены при
                        использовании Вашего аккаунта.
                    </li>
                    <li>4.3. Если Вам становится известно о любом несанкционированном использовании Вашего пароля или
                        аккаунта, Вы
                        соглашаетесь незамедлительно уведомить об этом Викимарт, направив соответствующее сообщение по
                        адресу:
                        info@wikimart.ru.
                    </li>
                    <li>4.4. Вы признаете, что ответственность за любую информацию, включая, но не ограничиваясь, файлы
                        с
                        данными,
                        тексты, компьютерное программное обеспечение, музыкальные и аудиофайлы, а также другие звуковые
                        файлы, фото-,
                        видео- и иные изображения, далее - «Содержание», к которой Вы можете иметь доступ как к части
                        Услуг
                        или через
                        пользование Услугами, несет лицо, предоставившее такую информацию.
                    </li>
                    <li>4.5. Вы понимаете, что Содержание, предоставленное Вам как часть Услуг, может являться объектом
                        интеллектуальной
                        собственности, права на который принадлежат соответствующим правообладателям, в том числе
                        рекламодателям,
                        размещающим Содержание на сайте Викимарт, подлежат правовой охране в соответствии с нормами
                        законодательства
                        Российской Федерации и международного права. Вы не вправе вносить изменения, передавать в
                        аренду,
                        передавать на
                        условиях займа, продавать, распространять или создавать производные работы на основе такого
                        Содержания
                        (полностью или в части), за исключением случаев, когда такие действия были прямо разрешены Вам в
                        соответствии с
                        отдельным соглашением с ООО «Викимарт» и/или соответствующим правообладателем.
                    </li>
                    <li>4.6. Вы признаете и соглашаетесь с тем, что сайт Викимарт, его сервисы, сервисы онлайн торгового
                        центра
                        «Викимарт», информационные материалы, предоставляемые Вам при пользовании Услугами, содержат
                        либо
                        могут
                        содержать информацию, которая подлежит правовой охране в соответствии с законодательством
                        Российской
                        Федерации и
                        нормами международного права.
                    </li>
                    <li>4.7. Викимарт оставляет за собой право (однако не обязан) осуществлять предварительную проверку,
                        просмотр,
                        помечать, выбирать, изменять, не допускать к размещению или убирать любое или все Содержание из
                        любой Услуги.
                    </li>
                    <li>4.8. Вы осознаете, что при пользовании Услугами Вы можете обнаружить Содержание, которое можете
                        счесть
                        содержащим информацию оскорбительного, недостойного или непристойного характера. В случае, если
                        Вы
                        продолжаете
                        пользоваться Услугами, то в этом случае делаете это на собственный страх и риск.
                    </li>
                    <li>4.9. Вы соглашаетесь с тем, что Вы несете ответственность за любое Содержание, которое Вы
                        создаете,
                        передаете
                        или отображаете на экране в ходе пользования Услугами, а также за все последствия подобных
                        действий,
                        включая
                        возмещение убытков.
                    </li>
                </ul>
            </li>
            <li class="title">5. Конфиденциальность и Ваши персональные данные
                <ul>
                    <li>5.1. Викимарт ценит доверие, оказываемое Пользователями, и осознает ответственность за
                        обеспечение
                        конфиденциальности предоставляемых Викимарту Пользователями сведений, в том числе персональных
                        данных.
                    </li>
                    <li>5.2. Вы соглашаетесь с использованием Ваших данных в соответствии с условиями, предусмотренными
                        Положением о
                        персональных данных и конфиденциальности, размещенным по адресу:
                        http://wikimart.ru/static/privacy/.
                    </li>
                    <li>5.3. Вы соглашаетесь с тем, что ООО «Викимарт» вправе передавать Ваши персональные данные
                        третьим
                        лицам, в
                        частности, Заказчикам, владельцам магазинов, зарегистрированных на сайте Викимарт, курьерским
                        службам, а именно,
                        АО «Армадилло Бизнес Посылка» (DPD), ООО «СПСР-ЭКСПРЕСС» (СПСР), ООО «СДЭК-Мск» (СДЭК), и
                        контрагентам ООО
                        «Викимарт» исключительно в целях (1) выполнения Ваших заказов, оформленных в онлайн торговом
                        центре
                        «Викимарт»,
                        в том числе, в целях доставки товаров, и (2) отправления рекламно-информационных и иных
                        сообщений
                        Вам.
                    </li>
                </ul>
            </li>
        </ul>

    </div>


</div>

<!-- start html_close.html-->

<script src='../static/js/vendors.js' type="text/javascript"></script>
<script src="../static/js/common.js" type="text/javascript"></script>
</body>
</html>

<!-- end html_close.html-->