<!-- start html_open.html-->
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="../static/css/libs.min.css" rel="stylesheet" type="text/css">
    <link href="../static/css/styles.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- open .header -->
<!-- end html_open.html-->

<section class="error-404">
  <div class="error-404--wrap">
    <h1 class="error-404--title">Ошибка 404</h1>
    <div class="error-404__content"></div>
      <p class="error-404__content--text">К сожалению, запрашиваемая вами страница не найдена.</p>
      <p class="error-404__content--text">Либо она была удалена, либо вы перешли по неправильной ссылке.</p>
      <p class="error-404__content--text">Вы можете воспользоваться поиском по сайту</p>
    <div class="error-404__search">
      <form class="search__form error-404__search--form">

        <input class="search__form--field" type="text" placeholder="Поиск среди товаров">

        <div class="search__form--categories">

            <div class="search__form--trigger">
               <span class="search__form--title" data-id="0">
                                Все категории</span>
                <span class="search__form--arrow"></span>
            </div>
            <ul class="search__form--list">
                <li data-id="1">Все для ремонта</li>
                <li data-id="2"> Увлечения и хобби</li>
                <li data-id="3"> Детские товары</li>
                <li data-id="4">Спорт и отдых</li>
                <li data-id="5">Красота и здоровье</li>
                <li data-id="6">Софт и программы</li>
                <li data-id="7">Все для дачи</li>
                <li data-id="8">Праздники и торжества</li>
                <li data-id="9">Еда и напитки</li>
                <li data-id="10">Обувь и сумки</li>
                <li data-id="11">Другие категории</li>
                <li data-id="12">Скидки и акции</li>
            </ul>

        </div>

        <button class="search__form--submit" type="submit">
            <span><img src="../static/i/icons/search-icon.png" alt=""></span>
        </button>

    </form>
    </div>
    <div class="error-404__buttons">
      <p class="error-404__buttons--text">Вернуться на <a class="error-404__buttons--link" href="">Главную страницу</a> или</p>
      <a class="error-404__buttons--buttons" href="">Перейти в каталог товаров</a>
    </div>
    <div class="error-404__footnote">
      <p class="error-404__footnote--text"><a class="error-404__footnote--link" href="">Сообщите нам</a>, если считаете, что запрашиваемая страница должна здесь быть.</p>
    </div>
  </div>
</section>

<!-- start html_close.html-->
<script src='../static/js/jquery.datetimepicker.full.min.js' type="text/javascript"></script>
<script src='../static/js/vendors.js' type="text/javascript"></script>
<script src="../static/js/common.js" type="text/javascript"></script>
</body>
</html>

<!-- end html_close.html-->
