<!-- start html_open.html-->
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="../static/css/libs.min.css" rel="stylesheet" type="text/css">
    <link href="../static/css/styles.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- open .header -->
<!-- end html_open.html-->

<header class="header">

    <div class="header__top">

        <div class="container">


            <div class="header__top-links">

                <div class="header__top-links--region">
                    <span>Ваш регион:</span>

                    <a href="#" class="city-select">Москва</a>

                    <div class="header__top-links--hover-region">

                        <h3>Ваш регион <span>Москва</span>?</h3>

                        <div class="links">
                            <a href="#" class="yes">Да, верно</a>
                            <a href="#" class="chose">Выбрать другой</a>
                        </div>

                    </div>

                </div>

                <div class="header__top-links--tools">

                    <a href="monetki.html" class="element">
                        <span class="icon">
                            <img src="../static/i/icons/coin-icon.png" alt="">
                        </span>
                        <span class="counter">99</span>
                        Монетки <!--(<span class="value">57 026</span>)--></a>
                    <a href="#" class="element">
                        <span class="icon"><img src="../static/i/icons/wishlist-icon.png" alt=""></span>
                        <span class="counter">99</span>
                        Избранное <!--(<span class="value">9</span>)--></a>
                    <a href="#" class="element">
                        <span class="icon"><img src="../static/i/icons/scales-icon.png" alt=""></span>
                        <span class="counter">99</span>
                        Сравнение <!--(<span class="value">1</span>)--></a>
                    <a href="#" class="element">
                        <span class="icon"><img src="../static/i/icons/basket-icon.png" alt=""></span>
                        <span class="counter">99</span>
                        <span class="value">12 350</span>руб.</a>

                </div>

                <div class="header__top-links--cabinet">

                    <a href="#" class="header__top-links--enter">ООО "Ромашка"</a>
                    <!--<a href="registration.html" class="header__top-links&#45;&#45;enter">Вход</a>-->
                    <!--<a href="registration.html" class="header__top-links&#45;&#45;enter">Регистрация</a>-->

                    <ul class="header__top-links--cabinet-submenu">
                        <li><a href="#">Мой профиль</a></li>
                        <li><a href="#">Выхож</a></li>
                    </ul>

                </div>

            </div>
        </div>

    </div>

    <div class="header__logo">

        <div class="container">

            <a href="index.html" class="logo">
                <img src="../static/i/OAMI-logo.svg" alt="">
            </a>

<!-- start search.html-->
<section class="search">

        <form class="search__form">

            <input class="search__form--field" type="text" placeholder="Поиск среди товаров">
            <div class="search__form--upload">
                <p class="search__form--example">Apple</p>
                <p class="search__form--example">Apple Ipad</p>
                <p class="search__form--example">Apple Iphone</p>
            </div>

            <div class="search__form--categories">

                <!--<div class="search__form&#45;&#45;trigger">-->
                    <select class="search__form--select" name="" id="">
                        <option value="0">Все категории</option>
                        <option value="1">Все для ремонта</option>
                        <option value="2">Увлечения и хобби</option>
                        <option value="3">Детские товары</option>
                        <option value="4">Спорт и отдых</option>
                        <option value="5">Красота и здоровье</option>
                        <option value="6">Софт и программы</option>
                        <option value="7">Все для дачи</option>
                        <option value="8">Праздники и торжества</option>
                        <option value="9">Еда и напитки</option>
                        <option value="10">Обувь и сумки</option>
                        <option value="11">Другие категории</option>
                        <option value="12">Скидки и акции</option>
                    </select>
                    <span class="search__form--arrow"></span>

                   <!--<span class="search__form&#45;&#45;title" data-id="0">-->
                                    <!--Все категории</span>-->
                   <!--<span class="search__form&#45;&#45;arrow"></span>-->
               <!-- </div>-->
                <!--<ul class="search__form&#45;&#45;list">-->
                    <!--<li data-id="1">Все для ремонта</li>-->
                    <!--<li data-id="2"> Увлечения и хобби</li>-->
                    <!--<li data-id="3"> Детские товары</li>-->
                    <!--<li data-id="4">Спорт и отдых</li>-->
                    <!--<li data-id="5">Красота и здоровье</li>-->
                    <!--<li data-id="6">Софт и программы</li>-->
                    <!--<li data-id="7">Все для дачи</li>-->
                    <!--<li data-id="8">Праздники и торжества</li>-->
                    <!--<li data-id="9">Еда и напитки</li>-->
                    <!--<li data-id="10">Обувь и сумки</li>-->
                    <!--<li data-id="11">Другие категории</li>-->
                    <!--<li data-id="12">Скидки и акции</li>-->
                <!--</ul>-->

            </div>

            <button class="search__form--submit" type="submit">
                <span><img src="../static/i/icons/search-icon.png" alt=""></span>
            </button>

        </form>

        <a href="#" class="partner">
            <span><img src="../static/i/icons/shake-hands-icon.png" alt=""></span>
            <span>Стать партнером</span>
        </a>

</section>
<!-- end search.html-->

        </div>

    </div>

    <div class="header__navigation">

        <div class="container">

            <a id="mobile-menu" href="#" class="header__trigger">
                <span class=""></span>
            </a>

            <ul class="header__cabinet-nav">
                <li><a href="orders-page.html">Заказы</a></li>
                <li><a href="#">Сообщения</a></li>
                <li><a href="#">Монетки</a></li>
                <li><a href="#">Любимые магазины</a></li>
                <li><a href="#">Управление отзывами</a></li>
                <li><a href="#">Настройки профиля</a></li>
            </ul>

        </div>

    </div>

</header>

<section class="order">

    <div class="container">

        <div class="order__single">

            <div class="order__single--top">

                <div class="order__single--left">

                    <h3 class="title">Заказ № <span>12345687</span></h3>

                    <p class="date">от 01.01.2017 14:55</p>

                    <div class="order__single--box">

                        <p class="sum">Сумма заказа: <span class="value">23 490</span> <i class="fa fa-rub"
                                                                                          aria-hidden="true"></i></p>
                        <p class="trek-code">Трек-код: <span class="value">DF2366587206</span></p>
                        <p class="sum">Доставка: <span class="value">450</span> <i class="fa fa-rub"
                                                                                   aria-hidden="true"></i></p>
                        <a href="#" class="about-error">
                            <span class="attention"></span>
                            Сообщить об ошибке</a>

                    </div>

                </div>

                <div class="order__single--right">

                    <div class="line">
                        <p class="title">Вариант доставки:</p>
                        <p class="deliver">Доставка курьером</p>
                    </div>
                    <div class="line">
                        <p class="title">Желаемая дата:</p>
                        <p class="descr">10.01.2017 г</p>
                    </div>
                    <div class="line">
                        <p class="title">Адрес доставки:</p>
                        <p class="descr">116083, ул. Большая Пионерская, дом 70, корп. 1</p>
                    </div>

                    <div class="order__single--messages">

                        <div class="status">
                            <span class="status--indicator on"></span>
                            <span class="status--descr">Online</span>
                        </div>

                        <a href="#" class="status__chat">Открыть чат</a>
                        <a href="#" class="status__chat">
                            <span class="icon"></span>
                            Написать продавцу</a>

                    </div>

                </div>

            </div>

            <div class="order__single--bottom">

                <div class="order__single--left">

                    <div class="order__single--element">

                        <span class="photo">
                            <img src="../static/i/goods/product_2.png" alt="">
                        </span>

                        <div class="descr">
                            <p class="descr--name">Parlux Eco Friendly 3800 loop</p>
                            <p class="descr--art">АРТ. 6420 350</p>
                        </div>

                        <span class="value">5 шт.</span>

                        <span class="price">6 490 <i class="fa fa-rub" aria-hidden="true"></i></span>

                    </div>

                    <div class="order__single--element">

                        <span class="photo">
                            <img src="../static/i/goods/product_3.png" alt="">
                        </span>

                        <div class="descr">
                            <p class="descr--name">Apple Watch Sport 42mm</p>
                            <p class="descr--art">АРТ. 2452 124</p>
                        </div>

                        <span class="value">2 шт.</span>

                        <span class="price">12 750 <i class="fa fa-rub" aria-hidden="true"></i></span>

                    </div>

                    <div class="order__single--element">

                        <span class="photo">
                            <img src="../static/i/goods/product_4.png" alt="">
                        </span>

                        <div class="descr">
                            <p class="descr--name">Экш-камера GoPro HERO5</p>
                            <p class="descr--art">АРТ. 3075 205</p>
                        </div>

                        <span class="value">3 шт.</span>

                        <span class="price">7 920 <i class="fa fa-rub" aria-hidden="true"></i></span>

                    </div>

                </div>

                <div class="order__single--right">

                    <div class="order__single--counter">

                        <p class="order__single--status waiting">Ожидает подтверждения</p>

                        <ul id="countdown" class="countdown">
                            <li>
                                <p class="timeRefHours">часы</p>
                                <span class="hours">00</span>
                            </li>
                            <li>
                                <p class="timeRefMinutes">минуты</p>
                                <span class="minutes">00</span>
                            </li>
                            <li>
                                <p class="timeRefSeconds">секунды</p>
                                <span class="seconds">00</span>
                            </li>
                        </ul>

                    </div>

                    <div class="order__single--confirm">

                        <a href="#" class="order__single--return">
                            <span class="icon"></span>
                            Возврат</a>

                        <a href="#" class="order__single--ok">
                            <span class="icon"></span>
                            Подтвердить</a>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

<!-- start footer.html-->
<footer class="footer">

    <div class="catalog__bg"></div>

    <div class="container">

        <div class="footer__nav">

            <ul class="footer__list">
                <li class="footer__title">Покупателям
                    <ul>
                        <li class="footer__subtitle"><a href="#">Покупки на Safe-Shopping</a></li>
                        <li class="footer__subtitle"><a href="#">Доставка и оплата товаров</a></li>
                        <li class="footer__subtitle"><a href="#">Пользовательское соглашение</a></li>
                        <li class="footer__subtitle"><a href="#">Юридическим лицам</a></li>
                        <li class="footer__subtitle"><a href="#">Рассылка</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="footer__list">
                <li class="footer__title">Магазинам
                    <ul>
                        <li class="footer__subtitle"><a href="#">Истории успеха</a></li>
                        <li class="footer__subtitle"><a href="#">Торговля на Safe-Shopping</a></li>
                        <li class="footer__subtitle"><a href="#">Все еще думаете?</a></li>
                        <li class="footer__subtitle"><a href="#">Добавить магазин</a></li>
                        <li class="footer__subtitle"><a href="#">Договор оферты</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="footer__list">
                <li class="footer__title">О компании
                    <ul>
                        <li class="footer__subtitle"><a href="#">Сотрудничество</a></li>
                        <li class="footer__subtitle"><a href="#">Отзывы</a></li>
                        <li class="footer__subtitle"><a href="#">Пресс-центр</a></li>
                        <li class="footer__subtitle"><a href="#">Контактные данные</a></li>
                    </ul>
                </li>
            </ul>

        </div>

        <div class="footer__socials">

            <h3 class="footer__title">Подружитесь с нами:</h3>

            <p class="footer__subtitle">Мы ежедневно публикуем скидки и промокоды</p>

            <div class="footer__socials--links">

                <a href="#">
                    <img src="../static/i/icons/vk-icon.png" alt="">
                </a>
                <a href="#">
                    <img src="../static/i/icons/fb-icon.png" alt="">
                </a>
                <a href="#">
                    <img src="../static/i/icons/odn-icon.png" alt="">
                </a>
                <a href="#">
                    <img src="../static/i/icons/tw-icon.png" alt="">
                </a>
                <a href="#">
                    <img src="../static/i/icons/gplus-icon.png" alt="">
                </a>
                <a href="#">
                    <img src="../static/i/icons/inst-icon.png" alt="">
                </a>

            </div>

        </div>

    </div>

    <div class="footer__bottom">

        <div class="container">

            <p>© Safe-Shopping - Все права защищены.</p>

            <div class="footer__pay-sys">
                <span><img src="../static/i/icons/paypal-icon.png" alt=""></span>
                <span><img src="../static/i/icons/visa-icon.png" alt=""></span>
                <span><img src="../static/i/icons/mastercard-icon.png" alt=""></span>
            </div>

        </div>

    </div>

</footer>

<div id="city-selection" class="modal-city">

    <h3 class="title">Ваш город</h3>

    <span class="modal-city__close"></span>

    <p class="subtitle">Выберете город, в котором собираетесь получать товар. <br>
        От выбора зависит стоимость товара и доставки.
    </p>

    <form action="" class="modal-city__form">

        <input class="modal-city__form--field" type="text" placeholder="Ввведите название города">

        <p class="subtitle">Например: Москва, Санкт-Петербургб еще </p>

        <button class="modal-city__form--submit" type="submit">Сохранить</button>

    </form>

</div>

<div id="black-overlay"></div>
<!-- end footer.html-->

<div id="modal-confirm" class="modal-confirm">


    <h3 class="title">Подтверждение</h3>

    <p class="subtitle">Вы уверены, что хотите подтвердить получение заказа?</p>

    <a href="#" class="modal-confirm__no">Отмена</a>

    <a href="#" class="modal-confirm__yes">
        <span class="icon"></span>
        Да, я получил</a>

    <p class="modal-confirm__rating-title">Вы можете оценить продавца:</p>

    <div class="rating">
        <span class="rating__star js-review-rating" data-rating="1"></span>
        <span class="rating__star js-review-rating" data-rating="2"></span>
        <span class="rating__star js-review-rating" data-rating="3"></span>
        <span class="rating__star js-review-rating" data-rating="4"></span>
        <span class="rating__star js-review-rating" data-rating="5"></span>
    </div>

</div>

<div id="modal-start-claim" class="modal-confirm">

    <h3 class="title">Сообщение в отдел претензий</h3>

    <span class="modal-confirm__close"></span>

    <p class="descr">Прежде чем отправить сообщение в отдел претензий постарайтесь решить проблему самостоятельно.

    <p class="descr">Если покупатель/продавец не в силах решить Ваш вопрос, то отдел претензий получит Вашу переписку и
        свяжется с
        Вами в течении 7 дней.</p>
    <p class="descr">Сообщить в отдел претензий?</p>

    <div class="modal-confirm__claim-links">

        <a href="#" class="modal-confirm__yes">
            <span class="icon"></span>
            Да</a>

        <a href="#" class="modal-confirm__no">
            <span class="icon"></span>
            Нет</a>

    </div>

</div>

<div id="modal-to-admin" class="modal-confirm">

    <h3 class="title">Написать администрации</h3>

    <span class="modal-confirm__close"></span>

    <form action="" class="modal-confirm__form">

        <input class="modal-city__form--field" type="text" placeholder="Тема сообщения/номер заказа" required>

        <textarea class="modal-confirm__form--text" name="" id="" cols="30" rows="10"></textarea>

        <input id="modal-confirm-file" class="modal-confirm__file" type="file">
        <label for="modal-confirm-file" class="modal-confirm__for-file">
            <span>Прикрепить файл</span>
        </label>


        <button class="modal-confirm__submit" type="submit">Отправить</button>

    </form>

</div>

<!-- start html_close.html-->

<script src='../static/js/vendors.js' type="text/javascript"></script>
<script src="../static/js/common.js" type="text/javascript"></script>
</body>
</html>

<!-- end html_close.html-->