.basket {
  width: 100%;
  position: relative;
  float: left;
  margin-bottom: 45px;
  &--title {
    width: calc(100% - 442px);
    text-align: left;
    font-size: 30px;
    font-weight: 400;
    color: #0e0e0e;
    margin: 0;
    float: left;
    @include breakpoint(max-width 770px) {
      width: 100%;
    }
    @include breakpoint(max-width 660px) {
      font-size: 24px;
    }
    &-red {
      color: #c12025;
    }
  }
  &__coupon {
    width: 440px;
    height: 47px;
    float: left;
    margin-bottom: 1px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 32px;
    @include breakpoint(max-width 770px) {
      margin-top: 20px;
    }
    @include breakpoint(max-width 660px) {
      width: 100%;
    }
    &--field {
      width: calc(100% - 145px);
      float: left;
      border: none;
      background-color: #fff;
      height: 47px;
      padding-left: 20px;
      border-top-left-radius: 32px;
      border-bottom-left-radius: 32px;
      box-sizing: border-box;
      color: #6a6868;
      font-size: 15px;
      font-weight: 300;
      line-height: 47px;
      &::placeholder {
        color: #6a6868;
        font-size: 15px;
        font-weight: 300;
        line-height: 47px;
      }
    }
    &--submit {
      border-top-right-radius: 32px;
      border-bottom-right-radius: 32px;
      background-color: #efecec;
      box-sizing: border-box;
      width: 145px;
      height: 47px;
      float: left;
      border: none;
      outline: none;
      text-align: center;
    }
  }
  &__row {
    width: 100%;
    display: -webkit-inline-flex;
    display: -ms-inline-flex;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-top: 40px;
    align-items: center;
    position: relative;
    padding: 10px 0;
    box-sizing: border-box;
    &:last-of-type {
      border-bottom: 1px solid #ddd;
      padding-bottom: 50px;
      box-sizing: border-box;
    }
    &--delete {
      background-image: url("../i/icons/modal-close-icon.png");
      width: 12px;
      height: 12px;
      background-repeat: no-repeat;
      margin: 0 20px;
      @include breakpoint(max-width 770px) {
        margin: 0 10px;
      }
      @include breakpoint(max-width 660px) {
        margin-right: 20px;
      }
    }
    .catalog__grid-element--descr {
      width: 40%;
      @include breakpoint(max-width 660px) {
        padding-right: 0;
        width: 58%;
      }
    }
    .catalog__grid-element--photo {
      @include breakpoint(max-width 770px) {
        margin-left: 0;
      }
    }
    .product-slider__carousel--price,
    .product-slider__carousel--old-price,
    .product-slider__carousel--new-price {
      width: 100%;
      text-align: center;
      font-size: 18px;
    }
    .product-slider__carousel--old-price {
      font-size: 14px;
    }
    .product-slider__carousel--coins {
      width: 80px;
      text-align: left;
      @include breakpoint(max-width 770px) {
        width: auto;
      }
    }
    &--title {
      width: 100%;
      display: -webkit-inline-flex;
      display: -ms-inline-flex;
      display: inline-flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      border-bottom: 1px solid #ddd;
      padding: 25px 25px 10px;
      box-sizing: border-box;
      @include breakpoint(max-width 770px) {
        padding-right: 0;
      }
      span {
        color: #747474;
        font-size: 15px;
        font-weight: 300;
        line-height: 24px;
        text-align: center;
      }
      &-product {
        flex-basis: 39%;
        text-align: left!important;
        padding-left: 25px;
        box-sizing: border-box;
      }
      &-amount {
        flex-basis: 11%;
        @include breakpoint(max-width 770px) {
          flex-basis: 18%;
        }
        @include breakpoint(max-width 660px) {
          margin-top: 10px;
        }

      }
      &-price {
        flex-basis: 26%;
        @include breakpoint(max-width 770px) {
          flex-basis: 18%;
        }
        @include breakpoint(max-width 660px) {
          flex-basis: 40%;
        }
      }
      &-coins {
        flex-basis: 80px;
        @include breakpoint(max-width 770px) {
          flex-basis: 62px;
        }
      }
    }
    &--not-available {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(245, 245, 245, 0.71);
      z-index: 2;
      &:before {
        content: "";
        background-image: url("../i/icons/not-available-label.png");
        width: 108px;
        height: 109px;
        position: absolute;
        left: -4px;
        top: 0;
      }
    }
  }
  &__sum {
    width: 100%;
    float: left;
    position: relative;
    &--banner {
      width: 620px;
      float: left;
      @include breakpoint(max-width 770px) {
        width: 100%;
        margin-bottom: 20px;
        img {
          width: 100%;
        }
      }
    }
    &--content {
      width: 30%;
      float: right;
      @include breakpoint(max-width 770px) {
        width: 50%;
      }
      @include breakpoint(max-width 660px) {
        width: 100%;
      }
      &-products,
      &-notdiscounts,
      &-shopdiscounts,
      &-coupondiscounts,
      &-price,
      &-monetki {
        width: 100%;
        float: left;
        color: #0e0e0e;
        font-size: 16px;
        font-weight: 300;
        text-align: left;
        margin-top: 0;
        margin-bottom: 10px;
        span {
          width: 50%;
          float: left;
          color: #0e0e0e;
          font-size: 14px;
          font-weight: 300;
          margin-right: 40px;
          position: relative;
          b {
            width: 100%;
            font-weight: 700;
            float: left;
          }
        }
      }
      .checkout-btn {
        width: 217px;
        height: 47px;
        float: right;
        margin-top: 45px;
        background-color: #c12025;
        border-radius: 23px;
        border: none;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
      }
      &-price {
        font-size: 24px;
        font-weight: 600;
        margin-top: 15px;
        margin-bottom: 20px;
      }
      &-monetki {
        span:before {
          content: "";
          background-image: url("../i/icons/coin-icon.png");
          width: 20px;
          height: 18px;
          position: absolute;
          left: -40px;
          margin-top: 14px;
          @include breakpoint(max-width 770px) {
            display: none;
          }
        }
      }
    }
  }
  &__banner {
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 100px;
    @include breakpoint(max-width 660px) {
      margin-bottom: 20px;
    }
    img {
      width: 100%;
      float: left;
    }
  }
}
.product__color, .product__weight {
  width: 100%;
  float: left;
  text-align: left;
  color: #616161;
  font-size: 13px;
  font-weight: 300;
  margin: 0;
  line-height: 20px;
  text-align: center;
  @include breakpoint(max-width 660px) {
    width: 50%;
  }
  &--title {
    color: #616161;
    font-size: 13px;
    font-weight: 300;
  }
}
