.cabinet {
  width: 100%;
  float: left;
  position: relative;
  &__showcase {
    width: 100%;
    float: left;
    &--item {
      width: 48.5%;
      height: 480px;
      border: 1px solid #ddd;
      padding: 20px 30px;
      box-sizing: border-box;
      border-radius: 5px;
      float: left;
      margin-bottom: 40px;
      @include breakpoint(max-width 770px) {
        width: 100%;
        margin: 20px 0;
      }
      @include breakpoint(max-width 660px) {
        height: auto;
      }
      &-add {
        float: right;
        min-width: 200px;
        height: 40px;
        background-color: #f5f5f5;
        border-radius: 25px;
        color: #5d5d5d;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        line-height: 15px;
        margin-top: 15px;
        &:before {
          content: "";
          background-image: url("../i/icons/circle-add--icon.png");
          width: 12px;
          height: 12px;
          display: block;
          left: 14%;
          position: relative;
          top: 14px;
        }
      }
      &-button {
        width: 100%;
        float: left;
        position: relative;
        .upload {
        	width: 0.1px;
        	height: 0.1px;
        	opacity: 0;
        }

        .upload + label {
          float: right;
          width: 280px;
          height: 40px;
          background-color: #f5f5f5;
          border-radius: 25px;
          color: #5d5d5d;
          text-align: center;
          font-size: 14px;
          font-weight: 300;
          line-height: 15px;
          margin-top: 15px;
          cursor: pointer;
          &:before {
            content: "";
            background-image: url("../i/icons/circle-add--icon.png");
            width: 12px;
            height: 12px;
            display: block;
            left: 10%;
            position: relative;
            top: 14px;
          }
        }
        .upload-video  + label {
          width: 200px;
          margin-right: 80px;
        }
      }
      h4 {
        margin: 0 0 10px;
        font-size: 17px;
        font-weight: 300;
        line-height: 34px;
        text-align: left;
        float: left;
        width: 100%;
      }
      &:nth-of-type(even) {
        float: right;
      }
      &:nth-of-type(2) {
        .cabinet__showcase--item-row {
          border-bottom: none;
          // margin: 0;
          padding: 0;
        }
      }
      &:nth-of-type(4) {
        .cabinet__showcase--item-row {
          border-bottom: none;
          margin: 0;
          padding: 0;
        }
      }
      &-label {
        width: 35%;
        color: #010101;
        font-size: 14px;
        font-weight: 300;
        line-height: 34px;
        text-align: right;
        // padding-right: 15px;
        box-sizing: border-box;
        float: left;
        margin: 8px 0;
        @include breakpoint(max-width 660px) {
          width: 100%;
          margin-bottom: 5px;
          text-align: left;
          margin-left: 0;
        }
      }
      &-field {
        width: 61%;
        height: 40px;
        border: 1px solid #e5e5e5;
        border-radius: 25px;
        background-color: #fff;
        float: left;
        padding-left: 15px;
        box-sizing: border-box;
        margin: 8px 0 8px 15px;
        @include breakpoint(max-width 660px) {
          width: 100%;
          margin-bottom: 5px;
          margin-left: 0;
        }
      }
      &-small {
        width: 95px;
        height: 40px;
        border: 1px solid #e5e5e5;
        border-radius: 25px;
        background-color: #fff;
        float: left;
        padding-left: 15px;
        box-sizing: border-box;
        margin: 8px 0 8px 15px;
        @include breakpoint(max-width 660px) {
          width: 89%;
          margin-bottom: 5px;
          margin-left: 0;
        }
      }
      &-medium {
        width: 146px;
        height: 40px;
        border: 1px solid #e5e5e5;
        border-radius: 25px;
        background-color: #fff;
        float: left;
        padding-left: 15px;
        box-sizing: border-box;
        margin: 8px 0 8px 15px;
        @include breakpoint(max-width 660px) {
          width: 89%;
          margin-bottom: 5px;
          margin-left: 0;
        }
      }
      &-select {
        width: 61%;
        height: 40px;
        border: 1px solid #e5e5e5;
        border-radius: 25px;
        background-color: #fff;
        float: left;
        padding-left: 15px;
        box-sizing: border-box;
        -webkit-appearance: none;
        background-image: url('../i/icons/arrow-down-icon.png');
        background-position-y:  center;
        background-position-x: 97%;
        background-repeat: no-repeat;
        line-height: 1em;
        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: '';
        -ms-appearance: none;
        appearance: none!important;
        margin: 8px 0 8px 15px;
        @include breakpoint(max-width 660px) {
          width: 100%;
          margin-bottom: 5px;
          margin-left: 0;
        }
      }
      .red-border {
        border: 1px solid #c12025;
      }
      &-row {
        width: 100%;
        float: left;
        border-bottom: 1px solid #ddd;
        padding: 10px 0;
        box-sizing: border-box;
        .cabinet__showcase--item-select {
          width: 200px;
          margin-left: 0;
          @include breakpoint(max-width 660px) {
            width: 100%;
            margin-bottom: 5px;
          }
        }
        .input-right {
          width: 200px;
          float: right;
          @include breakpoint(max-width 660px) {
            width: 100%;
            margin-bottom: 5px;
            float: left;
          }
        }
        .row-title {
          width: 200px;
          float: left;
          color: #010101;
          font-size: 14px;
          font-weight: 300;
          line-height: 34px;
          text-align: left;
          @include breakpoint(max-width 660px) {
            width: 100%;
            margin-bottom: 5px;
          }
          &:first-of-type {
            width: calc(100% - 200px);

            @include breakpoint(max-width 660px) {
              width: 100%;
              margin-bottom: 5px;
            }
          }
        }
        .quantity {
          float: left;
          margin-left: 10px;
          width: auto;
          color: #232323;
          font-size: 14px;
          font-weight: 400;
          line-height: 34px;
          margin-top: 9px;
        }
        .dial-link {
          height: 40px;
          background-color: #f5f5f5;
          border-radius: 25px;
          color: #c12025;
          text-align: center;
          @include breakpoint(max-width 660px) {
            width: 89%;
            margin-bottom: 5px;
          }
        }
      }
      &-thumb {
        width: 74px;
        height: 59px;
        float: left;
        margin-top: 16px;
        margin-right: 28px;
        img {
          width: 100%;
        }
      }
      textarea {
        width: 331px;
        height: 72px;
        border: 1px solid #e5e5e5;
        float: left;
        border-radius: 3px;
        resize: none;
        padding-left: 10px;
        box-sizing: border-box;
        @include breakpoint(max-width 770px) {
          width: calc(100% - 145px);
        }
        @include breakpoint(max-width 770px) {
          width: calc(100% - 29px);
          height: 90px;
        }
        &::placeholder {
          color: #969696;
          font-size: 14px;
          font-weight: 300;
          line-height: 34px;
        }
      }
      &-delete {
        background-image: url("../i/icons/delete-icon.png");
        width: 24px;
        height: 24px;
        float: right;
        margin-top: 25px;
      }
    }
  }
  .title {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    color: #0e0e0e;
    font-size: 22px;
    font-weight: 600;
    margin-top: 48px;
    margin-bottom: 38px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    @include box-sizing(border-box);
    &:after {
      display: block;
      position: absolute;
      content: '';
      bottom: -1px;
      left: 0;
      width: 114px;
      height: 2px;
      background-color: #c21a20;
    }
  }
  &__sidebar {
    display: block;
    position: relative;
    float: left;
    width: 200px;
    /*min-height: 277px;*/
    background-color: #f5f5f5;
    border-radius: 4px;
    padding: 0 18px;
    @include box-sizing(border-box);
    @include breakpoint(max-width 770px){
      display: none;
      position: absolute;
      border: 1px solid #e3e3e3;
      width: 200px;
      left: 10px;
      margin-top: 187px;
      z-index: 10;
    }
    @include breakpoint(max-width 660px){
      width: 100%;
      display: none;
    }
    &--menu {
      width: 100%;
      margin: 0;
      padding: 0;
      li {
        width: 100%;
        display: inline-block;
        list-style-type: none;
        padding: 16px 0;
        box-sizing: border-box;
        border-bottom: 1px solid #ddd;
        float: left;
        a {
          width: 100%;
          text-align: left;
          color: #0e0e0e;
          font-size: 14px;
          font-weight: 300;
          line-height: 18px;
          float: left;
          .value {
            float: right;
          }
          .arrow {
            background-image: url("../i/icons/arrow-down-icon.png");
            width: 7px;
            height: 5px;
            background-repeat: no-repeat;
            position: relative;
            float: right;
            top: 7px;
            right: 5px;
          }
        }
        ul {
          width: 100%;
          margin: 30px 0 0;
          padding: 0;
          display: none;
          li {
            border-bottom: none;
            padding: 10px 0 10px 25px;
            position: relative;
            &:before {
              content: "";
              width: 6px;
              height: 6px;
              border-radius: 50%;
              background-color: #bfbfbf;
              margin-left: -15px;
              margin-top: 6px;
              position: absolute;
            }
            a {
              color: #0e0e0e;
              font-size: 14px;
              font-weight: 300;
              line-height: 18px;
            }
          }
        }
      }
      li:last-of-type {
        border-bottom: none;
      }
      li.active {
        a {
          font-weight: 700;
        }
        ul li a {
          font-weight: 300;
        }
      }

    }
    &--button {
      display: none;
      position: relative;
      float: left;
      z-index: 7;
      margin-bottom: 15px;
      background-color: #c12025;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      color: #fff;
      @include breakpoint(max-width 770px) {
        display: block;
      }
    }
  }
  &__content {
    display: block;
    position: relative;
    float: left;
    width: calc(100% - (202px + 29px));
    border: 1px solid #e3e3e3;
    background-color: #fff;
    border-radius: 4px;
    margin-left: 29px;
    &--border {
      border: none;
    }
    @include box-sizing(border-box);
    .catalog__main--tools {
      margin: 28px;
      width: calc(100% - (28px*2));
    }
    .catalog__main--tabs-box {
      padding: 0 28px;
      @include box-sizing(border-box);
    }
    .catalog__main {
      &--tools {
        padding-top: 9px;
        padding-bottom: 9px;
      }
      &--sorting {
        width: calc(100% - 180px);
        height: 40px;
        align-items: center;
      }
      &--clear {
        width: 180px;
        height: 40px;
        background-color: #f5f5f5;
        color: #5d5d5d;
        font-size: 14px;
        font-weight: 300;
        line-height: 40px;
        border-radius: 23px;
        float: left;
        text-align: center;
      }
    }
    @include breakpoint(max-width 770px){
      width: 100%;
      margin-left: 0;
    }
    @include breakpoint(max-width 660px){
      width: 100%;
      margin-left: 0;
    }
    &--search {
      width: 100%;
      float: left;
      position: relative;
      background-color: #f5f5f5;
      padding: 10px 25px;
      @include box-sizing(border-box);
      .product__search {
        width: 100%;
      }
    }
    &--row {
      @include display-flex(flex);
      @include flex-wrap(wrap);
      @include flex-direction(row);
      position: relative;
      float: left;
      width: 100%;
      padding: 22px 0;
      @include box-sizing(border-box);
      border-bottom: 1px solid #e3e3e3;
      @include breakpoint(max-width 440px){
        @include flex-direction(column)
      }
    }
    &--check-wrapper {
      flex: 0 0 69px;
      position: relative;
      float: left;
    }
    &--checkbox {
      display: none;
    }
    &--checkbox + .cabinet__content--forcheck {
      display: block;
      position: relative;
      float: left;
      width: 100%;
      cursor: pointer;
    }
    &--checkbox + .cabinet__content--forcheck .cabinet__content--checked {
      display: block;
      position: relative;
      float: left;
      width: 15px;
      height: 15px;
      margin-top: 2px;
      margin-left: 23px;
      margin-right: 8px;
      background-image: url('../i/icons/checkbox-empty-icon.png');
      background-repeat: no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
    }
    &--checkbox:checked + .cabinet__content--forcheck .cabinet__content--checked{
      background-image: url('../i/icons/checkbox-fill-icon.png');
    }
    &--author {
      flex: 1 0 0;
      position: relative;
      float: left;
      font-size: 14px;
      font-weight: 300;
      color: #000;
      text-align: left;
      padding: 0 9px;
      @include box-sizing(border-box);
    }
    &--subject {
      flex: 3 0 0;
      position: relative;
      float: left;
      font-size: 14px;
      font-weight: 300;
      color: #000;
      text-align: left;
      padding: 0 9px;
      @include box-sizing(border-box);
    }
    &--order {
      flex: 1 0 0;
      position: relative;
      float: left;
      font-size: 14px;
      font-weight: 300;
      color: #000;
      text-align: left;
      padding: 0 9px;
      @include box-sizing(border-box);
    }
    &--date {
      flex: 1 0 0;
      position: relative;
      float: left;
      font-size: 14px;
      font-weight: 300;
      color: #000;
      text-align: left;
      padding: 0 9px;
      @include box-sizing(border-box);
      .attach-icon{
        display: block;
        position: absolute;
        content: '';
        width: 14px;
        height: 16px;
        top: 0;
        left: -5px;
        background-image: url("../i/icons/attach-icon.png");
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
      }
    }
    .catalog__main--pagination {
      padding-left: 34px;
      padding-right: 34px;
    }
    &--letter{
      position: relative;
      float: left;
      width: 100%;
      &-header {
        width: 100%;
        float: left;
        position: relative;
        border-bottom: 1px solid #dadada;
        padding: 25px 25px 15px;
        box-sizing: border-box;
      }
      &-info {
        width: 50%;
        float: left;
      }
      &-author, &-subject {
        width: 100%;
        position: relative;
        text-align: left;
        color: #000;
        font-weight: 600;
        font-size: 14px;
        margin: 0;
        span {
          color: #868686;
          font-weight: 300;
          font-size: 14px;
          width: 54px;
          float: left;
          @include breakpoint(max-width 660px) {
            width: 100%;
            display: inline-block;
          }
        }
      }
      &-author {
        margin-bottom: 10px;
      }
      &-buttons {
        width: 50%;
        float: left;
        text-align: right;
        @include breakpoint(max-width 660px) {
          text-align: center;
        }
      }
      &-content {
        width: 100%;
        float: left;
        position: relative;
        padding: 50px 25px 50px 78px;
        box-sizing: border-box;
        border-bottom: 1px solid #dadada;
        @include breakpoint(max-width 660px) {
          padding-left: 25px;
        }
      }
      &-text {
        width: 100%;
        float: left;
        margin: 0;
        text-align: left;
        font-size: 14px;
        font-weight: 300;
        color: #000;
        line-height: 27px;
      }
      &-attached {
        width: 100%;
        float: left;
        padding: 25px 25px 25px 78px;
        box-sizing: border-box;
        @include breakpoint(max-width 660px) {
          padding-left: 25px;
        }
      }
      &-attachments {
        float: left;
        color: #010101;
        font-size: 14px;
        font-weight: 600;
        line-height: 30px;
        margin: 0 25px 0 0;
        @include breakpoint(max-width 770px) {
          min-height: 60px;
        }
        @include breakpoint(max-width 660px) {
          width: 100%;
          margin-right: 0;
        }
      }
    }
    &--compare {
      width: 100%;
      float: left;
      position: relative;
      padding: 40px;
      box-sizing: border-box;
      @include breakpoint(max-width 660px) {
        padding: 10px;
      }
      &-wrap {
        width: 3000px;
        float: left;
        position: relative;
        &:before {
          content: "";
          width: 100%;
          position: absolute;
          margin-top: 0;
          left: 0;
          background-color: #ddd;
          height: 1px;
        }
      }
      &-products {
        width: 65%;
        float: left;
        overflow-x: scroll;
        @include breakpoint(max-width 770px) {
          width: 68%;
        }
        @include breakpoint(max-width 660px) {
          width: 100%;
        }
        &::-webkit-scrollbar-button {
          background-image:url('');
          background-repeat:no-repeat;
          width: 4px;
          height: 4px;
        }

        &::-webkit-scrollbar-track {
          background-color:#ecedee
        }

        &::-webkit-scrollbar-thumb {
          -webkit-border-radius: 3px;
          border-radius: 3px;
          background-color: #c12025;
          height: 4px;
        }


        &::-webkit-resizer{
          background-image:url('');
          background-repeat:no-repeat;
          height: 4px;
        }

        &::-webkit-scrollbar{
          height: 4px;
        }
      }
      &-panel {
        width: calc(100% - 65%);
        float: left;
        @include breakpoint(max-width 770px) {
          width: calc(100% - 68%);
        }
        @include breakpoint(max-width 660px) {
          width: 100%;
        }
      }
      .product-slider__carousel--item {
        height: 420px;
        @include breakpoint(max-width 660px) {
          width: 230px;
        }
        &:hover {
          box-shadow: none;
        }
      }
      &-row {
        width: 100%;
        float: left;
        overflow: hidden;
        position: relative;
        &:first-of-type {
          margin-top: 59px;
        }

        span {
          width: 262px;
          display: table-cell;
          vertical-align: middle;
          padding-left: 26px;
          box-sizing: border-box;
          height: 50px;
          color: #0e0e0e;
          font-size: 14px;
          font-weight: 300;
          @include breakpoint(max-width 660px) {
            width: 230px;
          }
        }
        &:hover {
          background-color: #f5f5f5;
        }
      }
      &-sort {
        height: 333px;
        display: -webkit-inline-flex;
        display: -ms-inline-flex;
        display: inline-flex;
        flex-flow: row wrap;
        align-items: center;
        @include breakpoint(max-width 660px) {
          width: 100%;
          height: auto;
        }
        .regist__form--radios {
          margin: 0;
          input[type=radio]+label {
            width: 100%;
            margin-bottom: 15px;
            @include breakpoint(max-width 660px) {
              width: 50%;
              margin-right: 0;
            }
          }
        }
      }
      &-characteristics {
        width: 100%;
        float: left;
        position: relative;
        @include breakpoint(max-width 660px) {
          display: none;
        }
        .title {
          font-size: 18px;
        }
        ul {
          width: 230px;
          float: left;
          position: relative;
          margin: 10px 0 0;
          padding: 10px 25px;
          background-color: #f5f5f5;
          border-radius: 10px;
          box-sizing: border-box;
          @include breakpoint(max-width 770px) {
            width: 95%;
          }
          li {
            width: 100%;
            list-style-type: none;
            display: inline-block;
            float: left;
            box-sizing: border-box;
            height: 50px;
            color: #0e0e0e;
            font-size: 14px;
            font-weight: 300;
            line-height: 50px;
          }
        }
      }
    }
    &-tags {
      width: auto;
      border: 1px solid #e6e6e6;
      height: 38px;
      font-size: 14px;
      font-weight: 300;
      line-height: 40px;
      color: #000;
      text-align: center;
      float: left;
      position: relative;
      padding: 0 20px;
      box-sizing: border-box;
      margin: 22px 22px 22px 0;
      @include breakpoint(max-width 660px) {
        margin: 10px;
      }
      &:first-of-type {
        margin-left: 40px;
        @include breakpoint(max-width 660px) {
          margin-left: 10px;
        }
      }
      .count {
        position: absolute;
        right: 3px;
        top: 3px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #d6d5d5;
        color: #0e0e0e;
        font-size: 10px;
        font-weight: 400;
        line-height: 15px;
      }
    }
    &--shop {
      width: 100%;
      position: relative;
      float: left;
      margin-bottom: 40px;
      &-wrap {
        width: 100%;
        float: left;
        position: relative;
        height: 126px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      &-logo {
        position: absolute;
        display: inline-block;
        width: 99px;
        height: 79px;
        top: 25px;
        left: 25px;
        @include breakpoint(max-width 660px) {
          left: 15px;
        }
      }
      &-info {
        width: 197px;
        position: absolute;
        display: inline-block;
        top: 10px;
        right: 25px;
        p {
          font-size: 11px;
          font-weight: 400;
          color: #fff;
          margin: 0;
          display: inline-block;
          float: left;
          width: 100%;
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);
          &:last-of-type {
            border-bottom: none;
          }
          span {
            font-size: 13px;
            font-weight: 600;
            line-height: 22px;
            color: #fff;
            float: right;
            text-align: right;
          }
        }
      }
      &-title {
        width: 100%;
        float: left;
        color: #0e0e0e;
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
        margin: 0 0 15px;
      }
    }
  }
  &__form {
    width: 430px;
    float: left;
    margin-left: 55px;
    @include breakpoint(max-width 770px) {
      width: 100%;
      margin-left: 0;
    }
    @include breakpoint(max-width 660px) {
      width: 100%;
      margin-left: 0;
    }
    &--new-adress {
      width: 100%;
      float: left;
      position: relative;
      color: #1179c2;
      float: left;
      text-align: left;
      font-size: 14px;
      font-weight: 300;
      line-height: 22px;
      text-decoration: underline;
      margin-top: 15px;
    }
    .regist__form--forcheck {
      margin-bottom: 0;
    }
    &--submit {
      display: block;
      position: relative;
      float: left;
      width: 152px;
      height: 47px;
      margin-top: 15px;
      margin-bottom: 15px;
      background-color: #c12025;
      border-radius: 23px;
      border: none;
      color: #ffffff;
      font-size: 16px;
      font-weight: 600;
    }
    .regist__form--radios {
      margin: 0;
      input[type=radio]+label {
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }
  &__orders {
    width: 100%;
    float: left;
    position: relative;
    &--row {
      width: 100%;
      border: 1px solid #ddd;
      margin: 0 0 20px;
      display: -webkit-inline-flex;
      display: -ms-inline-flex;
      display: inline-flex;
      flex-flow: row wrap;
      &-column {
        padding: 15px 20px;
        box-sizing: border-box;
        @include breakpoint(max-width 770px) {
          flex-basis: 33.3%;
          width: 33.3%;
          padding: 0 20px;
        }
        @include breakpoint(max-width 660px) {
          flex-basis: 100%;
          width: 100%;
          padding: 0 20px;
        }
        &:last-of-type {
          padding-left: 0;
          padding-right: 0;
          @include breakpoint(max-width 660px) {
            padding-bottom: 15px;
          }
        }
        &:first-of-type {
          border-right: 1px solid #ddd;
        }
        .product__stock--countdown-clock {
          width: auto;
          ul#countdown {
            height: 70px;
            li{
              width: 49px;
              height: 40px;
              &:after {
                margin-left: 51px;
              }
              span {
                font-size: 27px;
                line-height: 16px;
              }
              p {
                margin-left: -8px;
                top: 42px;
                font-size: 11px;
              }
            }
          }
        }
        p {
          color: #0e0e0e;
          width: 100%;
          font-size: 14px;
          font-weight: 300;
          line-height: 19px;
        }
      }
      &-more{
        width: 170px;
        height: 40px;
        background-color: #f5f5f5;
        color: #5d5d5d;
        font-size: 14px;
        font-weight: 300;
        line-height: 40px;
        border-radius: 23px;
        float: left;
        text-align: center;
        position: relative;
        margin-left: 10px;
        top: calc(50% - (40px/2));
      }
      .cabinet__orders--row-order {
        color: #0e0e0e;
        font-size: 17px;
        font-weight: 400;
      }
      .cabinet__orders--row-price {
        color: #0e0e0e;
        font-size: 16px;
        font-weight: 600;
      }
      .cabinet__orders--row-code,
      .cabinet__orders--row-commission,
      .cabinet__orders--row-min-commission {
        font-size: 15px;
      }
    }
    &--tools {
      width: 100%;
      float: left;
      margin-bottom: 35px;
      display: -webkit-inline-flex;
      display: -ms-inline-flex;
      display: inline-flex;
      flex-flow: row wrap;
      justify-content: space-between;
      @include breakpoint(max-width 770px) {
        justify-content: center;
      }
      select {
        width: 178px;
        height: 40px;
        border: 1px solid #ddd;
        border-radius: 20px;
       -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: '';
        -ms-appearance: none;
        appearance: none!important;
        padding-left: 15px;
        box-sizing: border-box;
        color: #818181;;
        font-size: 14px;
        font-weight: 300;
        line-height: 40px;
        @include breakpoint(max-width 660px) {
          width: 100%;
        }
      }
    }
    &--select {
      width: 178px;
      height: 40px;
      border-radius: 20px;
      position: relative;
      cursor: pointer;
      float: left;
      @include breakpoint(max-width 770px) {
        float: none;
        display: inline-block;
      }
      @include breakpoint(max-width 660px) {
        width: 100%;
      }
      &:after {
        display: block;
        position: absolute;
        content: "";
        width: 11px;
        height: 6px;
        top: 16px;
        right: 19px;
        background-image: url(../i/icons/arrow-down-icon.png);
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
    &--filter {
      width: 30%;
      @include breakpoint(max-width 770px) {
        width: 30%;
        text-align: center;
      }
      @include breakpoint(max-width 660px) {
        width: 100%;
      }
    }
    &--sort,
    &--code {
      @include breakpoint(max-width 770px) {
        width: 30%;
        text-align: center;
      }
      @include breakpoint(max-width 660px) {
        width: 100%;
        margin-top: 15px;
      }
    }
    &--search {
      width: 300px;
      height: 40px;
      border: 1px solid #ddd;
      border-radius: 20px;
      display: inline-block;
      @include breakpoint(max-width 770px) {
        margin-top: 15px;
      }
      @include breakpoint(max-width 660px) {
        width: 100%;
      }
      &-submit {
        float: left;
        width: 47px;
        height: 40px;
        background-color: #c12025;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border: none;
        outline: none;
        background-image: url("../i/icons/search-icon.png");
        background-repeat: no-repeat;
        background-size: 40%;
        background-position: 40%;
      }
      &-field {
        width: calc(100% - 47px);
        float: left;
        border: none;
        background-color: #fff;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        padding-left: 15px;
        box-sizing: border-box;
        height: 39px;
      }
    }
  }
  &__bookkeeping {
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 100px;
    &--left {
      width: 370px;
      float: left;
      position: relative;
      text-align: left;
      margin-right: 30px;
      @include breakpoint(max-width 990px) {
        width: 100%;
      }
      &-info {
        width: 100%;
        float: left;
        position: relative;
        border: 1px solid #e5e5e5;
        border-radius: 4px;
        background-color: #f5f5f5;
        padding: 0 17px;
        box-sizing: border-box;
        margin-bottom: 20px;
        p {
          width: 100%;
          border-top: 1px solid #ddd;
          float: left;
          position: relative;
          margin: 0;
          color: #0e0e0e;
          font-size: 14px;
          font-weight: 300;
          line-height: 18px;
          padding: 15px 0;
          box-sizing: border-box;
          .value {
            font-size: 17px;
            font-weight: 600;
            position: relative;
            float: right;
            i {
              font-size: 15px;
            }
          }
        }
      }
      &-link {
        width: 100%;
        float: left;
        margin-bottom: 10px;
        height: 40px;
        background-color: #f5f5f5;
        border-radius: 20px;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        line-height: 34px;
        color: #000;
        &:hover {
          color: #000;
        }
      }

    }
    &--right {
      float: left;
      width: calc(100% - 400px);
      position: relative;
      border: 1px solid #e5e5e5;
      border-radius: 4px;
      box-sizing: border-box;
      @include breakpoint(max-width 990px) {
        width: 100%;
      }
      &-title {
        width: 100%;
        float: left;
        position: relative;
        background-color: #f5f5f5;
        border-bottom: 1px solid #ddd;
        padding: 15px;
        box-sizing: border-box;
        h4 {
          width: 50%;
          float: left;
          margin: 0;
          line-height: 36px;
          @include breakpoint(max-width 660px) {
            width: 100%;
          }
        }
        a {
          width: 180px;
          height: 36px;
          background-color: #fff;
          border-radius: 20px;
          float: right;
          font-size: 14px;
          font-weight: 300;
          line-height: 36px;
          color: #000;
          text-align: right;
          position: relative;
          padding-right: 25px;
          box-sizing: border-box;
          @include breakpoint(max-width 660px) {
            float: left;
            margin-top: 10px;
          }
        }
      }
      &-tools {
        width: 100%;
        float: left;
        padding: 19px 15px 0;
        box-sizing: border-box;
        input, select {
          width: 200px;
          height: 35px;
          background-color: #fff;
          border: 1px solid #e5e5e5;
          border-radius: 18px;
          padding-left: 15px;
          float: left;
          cursor: pointer;
          box-sizing: border-box;
          &::placeholder {
            color: #868686;
            font-size: 13px;
            font-weight: 300;
            line-height: 27px;
          }
        }
        select {
          height: 35px;
          -webkit-appearance: none;
           -moz-appearance: none;
           text-indent: 0.01px;
           text-overflow: '';
           -ms-appearance: none;
           appearance: none!important;
           color: #868686;
          font-size: 13px;
          font-weight: 300;
          line-height: 27px;
        }
        span {
          text-align: right;
          font-size: 14px;
          font-weight: 300;
          line-height: 40px;
          color: #000;
          float: left;
          margin-right: 10px;
        }
      }
      &-show {
        width: 146px;
        height: 35px;
        background-color: #72c835;
        border-radius: 20px;
        text-align: center;
        float: left;
        font-size: 14px;
        font-weight: 300;
        line-height: 25px;
        border: none;
        color: #fff;
        @include breakpoint(max-width 660px) {
          width: calc(100% - 28px);
          float: right;
          margin-bottom: 15px;
        }
      }
      &-row {
        width: 100%;
        float: left;
        position: relative;
        padding: 15px 15px 15px 0;
        box-sizing: border-box;
        border-top: 1px solid #ddd;
        &:hover {
          background-color: #f5f5f5;
        }
        span {
          font-size: 14px;
          font-weight: 300;
          line-height: 27px;
          color: #000;
          float: left;
        }
        &:first-of-type {
          span {
            color: #868686;
            font-size: 14px;
            font-weight: 300;
            line-height: 27px;
            text-align: left;
          }
        }
      }
      &-number {
        width: 7%;
        text-align: center;
        @include breakpoint(max-width 660px) {
          display: none;
        }
      }
      &-date {
        width: 20%;
        text-align: left;
        @include breakpoint(max-width 660px) {
          text-align: center;
        }
      }
      &-event {
        width: 38%;
        text-align: left;
      }
      &-amount {
        width: 15%;
        text-align: right;
      }
      &-type {
        width: 20%;
        text-align: left;
        @include breakpoint(max-width 660px) {
          width: 27%;
        }
      }
    }
  }
  &__edit--reviews {
    width: 100%;
    float: left;
    position: relative;
    .rating {
      width: 100%;
      float: left;
      margin: 25px 0 1px;
      border-top: 1px solid #ddd;
      padding: 25px 0 15px;
      &__star {
        width: 19px;
        height: 19px;
      }
      &__title {
        float: left;
        color: rgba(14, 14, 14, 0.65);
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        text-align: left;
        margin-right: 15px;
      }
    }
    &-edit {
      width: 180px;
      height: 40px;
      background-color: #f5f5f5;
      color: #5d5d5d;
      font-size: 14px;
      font-weight: 300;
      line-height: 40px;
      border-radius: 23px;
      float: right;
      text-align: center;
      margin-top: 30px;
    }
    &-wrap {
      width: 100%;
      float: left;
      position: relative;
      height: 142px;
      border: 1px solid #ddd;
      border-radius: 5px;
      resize: none;
      color: #969696;
      font-size: 14px;
      font-weight: 300;
      line-height: 34px;
      padding: 0 10px;
      box-sizing: border-box;
    }
  }
  &__feedback {
    width: 669px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    z-index: 10;
    padding: 40px;
    box-sizing: border-box;
    margin-top: 15px;
    display: none;
    position: absolute;
    left: 0;
    margin-top: 131px;
    @include breakpoint(max-width 660px) {
      width: 100%;
      padding: 10px;
    }
    .title {
      font-size: 18px;
      margin-top: 0;
      margin-bottom: 15px;
    }
    .rating {
      width: 100%;
      float: left;
      margin: 15px 0 1px;
      &__star {
        width: 19px;
        height: 19px;
        cursor: pointer;
      }
      &__title {
        float: left;
        color: rgba(14, 14, 14, 0.65);
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        text-align: left;
        margin-right: 15px;
      }
    }
    .cabinet__edit--reviews-wrap {
      margin-bottom: 25px;
    }
    .modal-confirm__no,
    .modal-confirm__yes{
      margin-top: 20px;
      width: 146px;
      @include breakpoint(max-width 660px) {
        width: 100%;
      }
      .icon {
        margin-left: 25px;
      }
    }
    .modal-confirm__no {
      .icon {
        background-image: url("../i/icons/circle-close--icon.png");
        width: 12px;
        height: 12px;
        background-repeat: no-repeat;
      }
    }
  }
  &__shops--info {
    float: left;
    position: relative;
    width: 49%;
    border: 1px solid #ddd;
    padding: 35px;
    box-sizing: border-box;
    border-radius: 10px;
    @include breakpoint(max-width 770px) {
      width: 100%;
      padding: 15px;
      text-align: center;
    }
    h4 {
      width: 100%;
      margin: 0 0 15px 0;
      font-size: 17px;
      font-weight: 300;
      line-height: 34px;
      color: #000;
      border-bottom: 1px solid #ddd;
      float: left;
      text-align: left;
    }
    &-status {
      float: right;
      width: 341px;
      height: 40px;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 25px;
      margin: 10px 0;
      @include breakpoint(max-width 670px) {
        width: 100%;
      }
      > label {
        color: #0e0e0e;
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
        width: 50%;
        float: left;
      }
      > input[type="radio"] {
        display: none;
      }
      > input[type="radio"] + label {
        display: block;
        position: relative;
        float: left;
        width: 100px;
        color: #0e0e0e;
        font-size: 14px;
        font-weight: 300;
        line-height: 40px;
        width: 50%;
        cursor: pointer;
        text-align: center;
        height: 40px;
        &:first-of-type {
          border-top-left-radius: 25px;
          border-bottom-left-radius: 25px;
        }
        &:last-of-type {
          border-top-right-radius: 25px;
          border-bottom-right-radius: 25px;
        }
      }
      > input[type="radio"]:checked + label {
        background-color: #f5f5f5;
      }
    }
  }
  &__shops--days {
    float: right;
    width: 49%;
    position: relative;
    border: 1px solid #ddd;
    padding: 35px 45px;
    box-sizing: border-box;
    border-radius: 10px;
    display: -webkit-inline-flex;
    display: -ms-inline-flex;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
    @include breakpoint(max-width 770px) {
      width: 100%;
    }
    @include breakpoint(max-width 670px) {
      padding: 10px;
    }
    h4 {
      width: 100%;
      margin: 0;
      font-size: 17px;
      font-weight: 300;
      line-height: 34px;
      color: #000;
    }
    &-item {
      width: 220px;
      flex-basis: 220px;
      position: relative;
      float: left;
      @include breakpoint(max-width 670px) {
        width: 49%;
        flex-basis: 49%;
      }
      &:after {
        content: "";
        background-image: url("../i/icons/datepicker-icon.png");
        width: 19px;
        height: 20px;
        position: absolute;
        top: 12px;
        right: 15px;
        padding-left: 10px;
        box-sizing: border-box;
      }
      input {
        height: 40px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        border-radius: 20px;
        width: 100%;
        padding-left: 10px;
        box-sizing: border-box;
      }
    }
    &-calendar {
      width: 98%;
      position: relative;
      background-color: #f5f5f5;
      border: 1px solid #e5e5e5;
      float: none;
      margin: 30px auto 0;
      display: inline-block;
      @include breakpoint(max-width 670px) {
        width: 100%;
      }
      &:before {
        content: "";
        position: absolute;
        left: -11px;
        width: 104%;
        background-color: #e5e5e5;
        height: 1px;
        margin-top: -16px;
        background-color: #e5e5e5;
      }
    }
    &-title {
      width: 100%;
      float: left;
      position: relative;
      background-color: #fff;
      border-bottom: 1px solid #e5e5e5;
    }
    &-info {
      width: 90px;
      height: 90px;
      float: left;
      border-right: 1px solid #e5e5e5;
      text-align: center;
      box-sizing: border-box;
      i {
        width: 44px;
        height: 44px;
        background-color: #f5f5f5;
        border-radius: 50%;
        font-size: 20px;
        line-height: 42px;
        margin-top: 20px;
        color: rgba(0, 0, 0, 0.8);
      }
    }
    &-text {
      width: calc(100% - 90px);
      float: left;
      font-size: 14px;
      font-weight: 400;
      line-height: 33px;
      color: #000;
      padding-left: 30px;
      box-sizing: border-box;
      position: relative;
      padding-top: 28px;
      @include breakpoint(max-width 670px) {
        padding-top: 10px;
      }
      &:after {
        content: "";
        width: 15px;
        height: 2px;
        position: absolute;
        transform: rotate(45deg);
        background-color: #c12025;
        right: 24%;
        bottom: 23%;
        @include breakpoint(max-width 670px) {
          right: 50%;
          bottom: 20%;
        }
      }
      &:before {
        content: "";
        width: 15px;
        height: 2px;
        position: absolute;
        transform: rotate(-45deg);
        background-color: #c12025;
        right: 24%;
        bottom: 23%;
        @include breakpoint(max-width 670px) {
          right: 50%;
          bottom: 20%;
        }
      }
    }
  }
  &__shops--label {
    width: 30.3%;
    float: left;
    text-align: right;
    color: #010101;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    padding-right: 15px;
    box-sizing: border-box;
    margin: 7px 0;
    @include breakpoint(max-width 670px) {
      width: 100%;
      text-align: left;
    }
  }
  &__shops--field {
    width: 69.7%;
    height: 35px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 18px;
    box-sizing: border-box;
    margin: 10px 0;
    padding-left: 15px;
    @include breakpoint(max-width 670px) {
      width: 100%;
    }
    &-small {
      width: 19.7%;
      height: 35px;
      float: left;
      background-color: #fff;
      border: 1px solid #e5e5e5;
      border-radius: 18px;
      padding-left: 15px;
      box-sizing: border-box;
      @include breakpoint(max-width 670px) {
        width: 100%;
      }
    }
  }
  &__shops--select-fon {
    float: left;
    width: 170px;
    height: 40px;
    background-color: #c12025;
    border-radius: 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 40px;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    @include breakpoint(max-width 670px) {
      float: none;
      display: inline-block;
    }
  }
  &__shops--fons {
    width: 100%;
    float: left;
    background-color: #fff;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
    margin-top: 20px;
    padding: 10px 15px;
    box-sizing: border-box;
    display: none;
    > label {
      color: #0e0e0e;
      font-size: 14px;
      font-weight: 300;
      line-height: 18px;
      width: 50%;
      float: left;
    }
    > input[type="radio"] {
      display: none;
    }
    > input[type="radio"] + label {
      display: block;
      position: relative;
      float: left;
      width: 100px;
      color: #0e0e0e;
      font-size: 14px;
      font-weight: 300;
      line-height: 40px;
      width: 48%;
      cursor: pointer;
      text-align: center;
      height: 40px;
      border: 2px solid transparent;
      margin: 5px 0;
      background-color: #e8e8e8;
      @include breakpoint(max-width 670px) {
        width: 100%;
      }
      img {
        width: 100%;
        height: 100%;
      }
      &:nth-of-type(even) {
        float: right;
        @include breakpoint(max-width 670px) {
          float: left;
        }
      }
    }
    > input[type="radio"]:checked + label {
      border: 2px solid #72c835;
    }

  }
  &__shops--add {
    width: 100%;
    float: left;
    margin: 15px 0;
    @include breakpoint(max-width 670px) {
      text-align: center;
    }
    span {
      float: left;
      width: 30%;
      position: relative;
      text-align: left;
      color: #010101;
      font-size: 14px;
      font-weight: 300;
      line-height: 40px;
      @include breakpoint(max-width 670px) {
        width: 100%;
        text-align: center;
      }
    }
    p {
      margin: 0;
      float: left;
      margin-left: 20px;
      color: #939393;
      font-size: 12px;
      font-weight: 400;
      line-height: 40px;
      @include breakpoint(max-width 670px) {
        margin-left: 0;
        width: 100%;
      }
    }
    .upload {
    	width: 0.1px;
    	height: 0.1px;
    	opacity: 0;
    }

    .upload + label {
      width: 130px;
      height: 40px;
      background-color: #f5f5f5;
      border-radius: 20px;
      color: #5d5d5d;
      font-size: 14px;
      font-weight: 300;
      line-height: 40px;
      text-align: center;
      float: left;
      cursor: pointer;
      @include breakpoint(max-width 670px) {
        float: none;
        display: inline-block;
        margin: 0 auto;
      }
    }

  }
  &__shops--save {
    display: block;
    position: relative;
    float: right;
    width: 250px;
    height: 40px;
    border-radius: 23px;
    background-color: #72c835;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 40px;
    text-align: center;
  }
  &__shops--row {
    width: 100%;
    float: left;
    position: relative;
    margin: 20px 0;
  }
  &__shops--title {
    width: 100%;
    float: left;
    margin: 20px 0 0 0;
    color: #0e0e0e;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
  }
  &__shops--text {
    width: 100%;
    float: left;
    color: #232323;
    font-size: 14px;
    font-weight: 300;
    line-height: 34px;
    margin: 0 0 20px;
  }
}
.calendar__weak {
  float: left;
  position: relative;
  text-align: center;
  width: calc(100% / 7);
  height: 60px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
  color: rgba(0, 0, 0, 0.4);
  font-size: 26px;
  font-weight: 300;
  line-height: 60px;
}
.calendar__day {
  float: left;
  position: relative;
  text-align: center;
  width: calc(100% / 7);
  height: 60px;
  background-color: #f5f5f5;
  color: rgba(0, 0, 0, 0.4);
  font-size: 26px;
  font-weight: 300;
  line-height: 60px;
  text-transform: uppercase;
  &--current {
    color: #000;
  }
  &--not {
    &:after {
      content: "";
      width: 35px;
      height: 3px;
      position: absolute;
      transform: rotate(45deg);
      background-color: #c12025;
      left: 25%;
      bottom: 47%;
      @include breakpoint(max-width 670px) {
        left: 15%;
      }
    }
    &:before {
      content: "";
      width: 35px;
      height: 3px;
      position: absolute;
      transform: rotate(-45deg);
      background-color: #c12025;
      left: 25%;
      bottom: 47%;
      @include breakpoint(max-width 670px) {
        left: 15%;
      }
    }
  }
}
.excel-icon {
  background-image: url("../i/icons/excel-icon.png");
  display: block;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 8px;
  left: 23px;
}
.datepicker-inner {
   color: #0e0e0e;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
 }
 .tools__item {
  margin-right: 15px;
  float: left;
  position: relative;
  margin-bottom: 15px;
  @include breakpoint(max-width 990px) {
    margin-right: 10px;
  }
  @include breakpoint(max-width 660px) {
    width: 100%;
    input{
      width: calc(100% - 28px);
      margin-right: 0;
    }
    select {
      width: 100%;
    }
  }
  &:nth-of-type(1), &:nth-of-type(2) {
    &:after {
     content: "";
     background-image: url("../i/icons/datepicker-icon.png");
     width: 19px;
     height: 20px;
     position: absolute;
     right: 15px;
     top: 8px;
    }
  }
  &:nth-of-type(2) {
    margin-left: 85px;
    @include breakpoint(max-width 660px) {
      margin-left: 0;
    }
  }
  &--search {
    margin-left: 27px;
  }
  &--button {
    position: absolute;
    right: 0;
    background-image: url("../i/icons/search-prod__icon.png");
    width: 18px;
    height: 18px;
    border: none;
    background-color: #fff;
    right: 13px;
    top: 9px;

  }
  &--select {
    width: 200px;
    height: 35px;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    float: left;
    @include breakpoint(max-width 770px) {
      float: none;
      display: inline-block;
    }
    @include breakpoint(max-width 660px) {
      width: calc(100% - 28px);
      float: right;
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      width: 11px;
      height: 6px;
      top: 16px;
      right: 19px;
      background-image: url(../i/icons/arrow-down-icon.png);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
 }
.status-online {
  &:before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 5px;
    background-color: #72c835;
  }
}
.status-ofline{
  &:before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 5px;
    background-color: #c12025;
  }
}
.cabinet__orders--filter-label,
.cabinet__orders--sort-label {
  float: left;
  color: #0e0e0e;
  font-size: 14px;
  font-weight: 300;
  line-height: 42px;
  margin-right: 15px;
  @include breakpoint(max-width 770px) {
    display: none;
  }
}
.selected-message {
  background-color: #f5f5f5;
}

.cabinet__wrap--checkbox-wrap {
  float: left;
  position: relative;
  margin-right: 30px;
  @include breakpoint(max-width 770px) {
    margin-right: 10px;
  }
}
.sidebar-menu-mob {
  display: none;
  position: absolute;
  z-index: 12;
  margin-left: 20px;
  margin-top: 18px;
  background-color: #c12025;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  color: #fff;
  @include breakpoint(max-width 770px) {
    display: block;
  }
}
.attachments-item {
  min-width: 176px;
  height: 30px;
  float: left;
  background-color: #f3f3f3;
  color: #0e0e0e;
  font-size: 14px;
  font-weight: 300;
  line-height: 15px;
  padding: 8px;
  box-sizing: border-box;
  margin: 0 5px;
  @include breakpoint(max-width 770px) {
    margin-bottom: 5px;
  }
  .close-icon {
    background-image: url("../i/icons/modal-close-icon.png");
    background-repeat: no-repeat;
    display: block;
    position: relative;
    float: right;
    width: 7px;
    height: 7px;
    background-size: 100%;
    margin-left: 7px;
    top: 5px;
    z-index: 10;
    cursor: pointer;
  }
}

.zip-icon {
  background-image: url("../i/icons/zip-icon.png");
  background-repeat: no-repeat;
  display: block;
  position: relative;
  float: left;
  margin-right: 7px;
  width: 13px;
  height: 16px;
}

.txt-icon {
  background-image: url("../i/icons/txt-icon.png");
  background-repeat: no-repeat;
  display: block;
  position: relative;
  float: left;
  margin-right: 7px;
  width: 13px;
  height: 16px;
}

.pdf-icon {
  background-image: url("../i/icons/pdf-icon.png");
  background-repeat: no-repeat;
  display: block;
  position: relative;
  float: left;
  margin-right: 7px;
  width: 13px;
  height: 16px;
}

.reply-icon {
  background-image: url("../i/icons/reply-icon.png");
  width: 20px;
  height: 18px;
  float: none;
  display: inline-block;
  position: relative;
  top: -8px;
}

.reply-button, .del-button {
  display: inline-block;
  position: relative;
  float: none;
  width: 126px;
  height: 38px;
  border-radius: 23px;
  background-color: #f5f5f5;
  overflow: hidden;
  text-align: center;
  color: #010101;
  font-size: 14px;
  font-weight: 300;
  line-height: 38px;
  margin-left: 20px;
}

.status-delivery {
  color: #d3a601;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  height: 65px;
  display: table-cell;
  vertical-align: bottom;
  width: 130px;
  @include breakpoint(max-width 660px) {
    height: 30px;
    vertical-align: middle;
  }
  &--confirm {
    color: #c12025;
    text-decoration: underline;
  }
  &--way {
    color: #d3a601;
  }
  &--complete {
    color: #379a0d;
  }
  &--returned {
    color: #999;
  }
}

.cabinet__content-tags.active {
  border: none;
  background-color: #f5f5f5;
}
