.incoming-msg {
  width: 100%;
  float: left;
  position: relative;
  &--title {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    color: #0e0e0e;
    font-size: 22px;
    font-weight: 600;
    margin-top: 48px;
    margin-bottom: 14px;
  }
}

.incoming-msg__wrap {
  position: relative;
  float: left;
  width: 100%;
  border-top: 1px solid #e3e3e3;
  padding-top: 45px;
  padding-bottom: 283px;
  box-sizing: border-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-between;
  @include breakpoint(max-width 770px) {
    padding-bottom: 40px;
  }
  @include breakpoint(max-width 660px) {
    padding-bottom: 40px;
  }
  &:before {
    display: block;
    position: absolute;
    content: '';
    top: -2px;
    left: 0;
    width: 114px;
    height: 2px;
    background-color: #c21a20;
  }
  &--sidebar {
    width: 200px;
    min-height: 277px;
    background-color: #f5f5f5;
    border-radius: 4px;
    padding: 0 18px;
    box-sizing: border-box;
    @include breakpoint(max-width 770px) {
      display: none;
      position: absolute;
      left: 1px;
      margin-top: 57px;
      z-index: 10;
    }
  }
  &--menu {
    width: 100%;
    margin: 0;
    padding: 0;
    li {
      width: 100%;
      display: inline-block;
      list-style-type: none;
      padding: 16px 0;
      box-sizing: border-box;
      border-bottom: 1px solid #ddd;
      float: left;
      a {
        width: 100%;
        text-align: left;
        color: #0e0e0e;
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
        float: left;
        .value {
          float: right;
        }
      }
    }
    li:last-of-type {
    border-bottom: none;
    }
    li.active a {
      font-weight: 700;
    }
  }
  &--content {
    width: 939px;
    border: 1px solid #e3e3e3;
    background-color: #fff;
    border-radius: 4px;
    @include breakpoint(max-width 770px) {
      width: 100%;
    }
  }
  &--search {
    width: 100%;
    float: left;
    position: relative;
    background-color: #f5f5f5;
    padding: 10px 25px;
    box-sizing: border-box;
    &-wrap {
      width: 100%;
      float: left;
      position: relative;
      border-radius: 18px;
      background-color: #fff;
      border: 1px solid #e3e3e3;
      @include breakpoint(max-width 770px) {
        width: 95%;
        float: right;
      }
      @include breakpoint(max-width 660px) {
        width: 85%;
        float: right;
      }
      input {
        border: none;
        background-color: #fff;
        float: left;
        height: 35px;
        border-radius: 18px;
        padding-left: 15px;
        box-sizing: border-box;
        color: #868686;
        font-size: 13px;
        font-weight: 300;
        line-height: 35px;
        &::placeholder {
          color: #868686;
          font-size: 13px;
          font-weight: 300;
          line-height: 35px;
        }
      }
    }
  }
  &--checkbox,
  &--checkbox-all {
    display: none;
  }
  &--checkbox + .incoming-msg__wrap--forcheck,
  &--checkbox-all + .incoming-msg__wrap--forcheck {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    cursor: pointer;
  }
  &--checkbox + .incoming-msg__wrap--forcheck .incoming-msg__wrap--checked,
  &--checkbox-all + .incoming-msg__wrap--forcheck .incoming-msg__wrap--checked {
    display: block;
    position: relative;
    float: left;
    width: 15px;
    height: 15px;
    margin-top: 2px;
    margin-right: 8px;
    background-image: url('../i/icons/checkbox-empty-icon.png');
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  &--checkbox:checked + .incoming-msg__wrap--forcheck .incoming-msg__wrap--checked,
  &--checkbox-all:checked + .incoming-msg__wrap--forcheck .incoming-msg__wrap--checked {
    background-image: url('../i/icons/checkbox-fill-icon.png');
  }
  &--pagination {
    margin: 0;
    border-top: none;
    padding: 28px 25px;
    box-sizing: border-box;
  }

}

.loop-msg {
  width: 13px;
  height: 13px;
  background-image: url("../i/icons/msg-loop.png");
  float: right;
  display: block;
  background-repeat: no-repeat;
  margin-right: 15px;
  position: relative;
  top: 10px;
}

.incoming-msg__wrap--row {
  width: 100%;
  float: left;
  padding: 15px 25px;
  box-sizing: border-box;
  border-bottom: 1px solid #e3e3e3;
  &:last-of-type {
    border-bottom: none;
  }
  &-author {
    width: 190px;
    float: left;
    font-size: 14px;
    font-weight: 300;
    color: #000;
    text-align: left;
    @include breakpoint(max-width 770px) {
      width: 25%;
    }
    @include breakpoint(max-width 660px) {
      width: calc(100% - 33px);
    }
  }
  &-subject {
    float: left;
    width: 390px;
    font-size: 14px;
    font-weight: 300;
    color: #000;
    text-align: left;
    @include breakpoint(max-width 770px) {
      width: 40%;
    }
    @include breakpoint(max-width 660px) {
      padding-left: 33px;
      box-sizing: border-box;
      width: 100%;
    }
  }
  &-order {
    float: left;
    width: 130px;
    font-size: 14px;
    font-weight: 300;
    color: #000;
    text-align: left;
    @include breakpoint(max-width 770px) {
      width: 10%;
    }
    @include breakpoint(max-width 660px) {
      width: 30%;
      padding-left: 33px;
      box-sizing: border-box;
    }
  }
  &-date {
    float: right;
    width: 124px;
    font-size: 14px;
    font-weight: 300;
    color: #000;
    text-align: left;
    position: relative;
    @include breakpoint(max-width 770px) {
      width: 18%;
    }
    @include breakpoint(max-width 660px) {
      width: 50%;
      float: left;
      padding-left: 33px;
    }
  }

}

.incoming-msg__wrap--title {
  padding: 20px 25px;
  box-sizing: border-box;
  @include breakpoint(max-width 660px) {
    display: none;
  }
}
.incoming-msg__wrap--row-newmsg {
  .incoming-msg__wrap--row-author,
  .incoming-msg__wrap--row-subject,
  .incoming-msg__wrap--row-order,
  .incoming-msg__wrap--row-date {
    font-weight: 700;
  }
}

.selected-message {
  background-color: #f5f5f5;
}
.incoming-msg__wrap--checkbox-wrap {
  float: left;
  position: relative;
  margin-right: 30px;
  @include breakpoint(max-width 770px) {
    margin-right: 10px;
  }
}


.attach-icon {
  background-image: url("../i/icons/attach-icon.png");
  display: block;
  position: absolute;
  width: 14px;
  height: 16px;
  margin-left: -20px;
  margin-top: 2px;
}

.sidebar-menu-mob {
  display: none;
  position: absolute;
  z-index: 12;
  margin-left: 20px;
  margin-top: 18px;
  background-color: #c12025;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  color: #fff;
  @include breakpoint(max-width 770px) {
    display: block;
  }
}
