.cabinet__content--letter {
  width: 100%;
  float: left;
  position: relative;
  &-header {
    width: 100%;
    float: left;
    position: relative;
    border-bottom: 1px solid #dadada;
    padding: 25px 25px 15px;
    box-sizing: border-box;
  }
  &-info {
    width: 50%;
    float: left;
  }
  &-author, &-subject {
    width: 100%;
    position: relative;
    text-align: left;
    color: #000;
    font-weight: 600;
    font-size: 14px;
    margin: 0;
    span {
      color: #868686;
      font-weight: 300;
      font-size: 14px;
      width: 54px;
      float: left;
      @include breakpoint(max-width 660px) {
        width: 100%;
        display: inline-block;
      }
    }
  }
  &-author {
    margin-bottom: 10px;
  }
  &-buttons {
    width: 50%;
    float: left;
    text-align: right;
    @include breakpoint(max-width 660px) {
      text-align: center;
    }
  }
  &-content {
    width: 100%;
    float: left;
    position: relative;
    padding: 50px 25px 50px 78px;
    box-sizing: border-box;
    border-bottom: 1px solid #dadada;
    @include breakpoint(max-width 660px) {
      padding-left: 25px;
    }
  }
  &-text {
    width: 100%;
    float: left;
    margin: 0;
    text-align: left;
    font-size: 14px;
    font-weight: 300;
    color: #000;
    line-height: 27px;
  }
  &-attached {
    width: 100%;
    float: left;
    padding: 25px 25px 25px 78px;
    box-sizing: border-box;
    @include breakpoint(max-width 660px) {
      padding-left: 25px;
    }
   }
   &-attachments {
    float: left;
    color: #010101;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    margin: 0 25px 0 0;
    @include breakpoint(max-width 770px) {
      min-height: 60px;
    }
    @include breakpoint(max-width 660px) {
      width: 100%;
      margin-right: 0;
    }
   }
}
.attachments-item {
  min-width: 176px;
  height: 30px;
  float: left;
  background-color: #f3f3f3;
  color: #0e0e0e;
  font-size: 14px;
  font-weight: 300;
  line-height: 15px;
  padding: 8px;
  box-sizing: border-box;
  margin: 0 5px;
  @include breakpoint(max-width 770px) {
    margin-bottom: 5px;
  }
  .close-icon {
    background-image: url("../i/icons/modal-close-icon.png");
    background-repeat: no-repeat;
    display: block;
    position: relative;
    float: right;
    width: 7px;
    height: 7px;
    background-size: 100%;
    margin-left: 7px;
    top: 5px;
    z-index: 10;
    cursor: pointer;
  }
}

.zip-icon {
  background-image: url("../i/icons/zip-icon.png");
  background-repeat: no-repeat;
  display: block;
  position: relative;
  float: left;
  margin-right: 7px;
  width: 13px;
  height: 16px;
}
.txt-icon {
  background-image: url("../i/icons/txt-icon.png");
  background-repeat: no-repeat;
  display: block;
  position: relative;
  float: left;
  margin-right: 7px;
  width: 13px;
  height: 16px;
}
.pdf-icon {
  background-image: url("../i/icons/pdf-icon.png");
  background-repeat: no-repeat;
  display: block;
  position: relative;
  float: left;
  margin-right: 7px;
  width: 13px;
  height: 16px;
}

.reply-icon {
  background-image: url("../i/icons/reply-icon.png");
  width: 20px;
  height: 18px;
  float: none;
  display: inline-block;
  position: relative;
  top: -8px;
}

.reply-button, .del-button {
  display: inline-block;
  position: relative;
  float: none;
  width: 126px;
  height: 38px;
  border-radius: 23px;
  background-color: #f5f5f5;
  overflow: hidden;
  text-align: center;
  color: #010101;
  font-size: 14px;
  font-weight: 300;
  line-height: 38px;
  margin-left: 20px;
}
