.footer{
  display: block;
  position: relative;
  float: left;
  width: 100%;
  &__title{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    margin-top: 0;
    margin-bottom: 31px;
    color: #0e0e0e;
    font-size: 16px;
    font-weight: 600;
  }
  &__subtitle{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    margin-top: 0;
    margin-bottom: 18px;
    color: #0e0e0e;
    font-size: 13px;
    font-weight: 300;
    > a {
      display: block;
      position: relative;
      float: left;
      width: 100%;
      color: #0e0e0e;
      font-size: 13px;
      font-weight: 300;
      &:hover{
        color: #c12025;
      }
    }
  }
  &__list{
    display: block;
    position: relative;
    float: left;
    width: 30%;
    list-style: none;
    padding: 0;
    margin-top: 47px;
    @include breakpoint(max-width 660px){
      width: 100%;
      margin-top: 15px;
      margin-bottom: 0;
    }
    > li {
      > ul{
        display: block;
        position: relative;
        float: left;
        width: 100%;
        list-style: none;
        padding: 0;
        margin-top: 23px;
        @include breakpoint(max-width 770px){
          margin-top: 15px;
        }
      }
    }
  }
  &__nav{
    display: block;
    position: relative;
    float: left;
    width: calc(100% - 306px);
    @include breakpoint(max-width 770px){
      width: 100%;
      margin-bottom: 0;
    }
  }
  &__socials{
    display: block;
    position: relative;
    float: left;
    width: 306px;
    margin-top: 145px;
    @include breakpoint(max-width 770px){
      width: 100%;
      margin-top: 0;
    }
    .footer__title{
      margin-top: 0;
      margin-bottom: 8px;
    }
    .footer__subtitle{
      margin-bottom: 46px;
      @include breakpoint(max-width 770px){
        margin-bottom: 15px;
      }
    }
    &--links{
      @include display-flex(flex);
      @include flex-wrap(wrap);
      @include flex-direction(row);
      @include justify-content(flex-start);
      position: relative;
      float: left;
      width: 100%;
      margin-bottom: 15px;
      > a{
        @include display-flex(flex);
        @include justify-content(center);
        align-items: center;
        width: 30px;
        height: 30px;
        margin-right: 10px;
        border: 1px solid #a1a1a1;
        border-radius: 50%;
        &:hover{
          border: 1px solid #c12025;
        }
      }
    }
  }
  &__bottom{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    background-color: #f9f9f9;
    padding-top: 23px;
    padding-bottom: 10px;
    @include box-sizing(border-box);
    p{
      display: block;
      position: relative;
      float: left;
      color: #0e0e0e;
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
    }
  }
  &__pay-sys{
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include justify-content(flex-end);
    position: relative;
    float: right;
    > span{
      display: block;
      position: relative;
      float: left;
      max-width: 88px;
      height: 22px;
      overflow: hidden;
      margin-left: 13px;
      img{
        object-fit: contain;
      }
    }
  }
}

.document-modal {
  display: none;
  position: fixed;
  width: 670px;
  border: 1px solid #ddd;
  background-color: #fff;
  overflow: hidden;
  border-radius: 5px;
  top: 25%;
  margin-left: -webkit-calc(50% - 335px);
  margin-left: calc(50% - 335px);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  z-index: 5;
  padding: 35px 42px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  @include breakpoint(max-width 670px) {
    width: 100%;
    margin-left: 0;
    padding: 10px;
  }
  &__box {
    width: 100%;
    float: left;
    position: relative;
    > label {
      color: #0e0e0e;
      font-size: 14px;
      font-weight: 300;
      line-height: 18px;
    }
    > input[type="radio"] {
      display: none;
    }
    > input[type="radio"] + label {
      display: block;
      position: relative;
      float: left;
      width: 100%;
      color: #0e0e0e;
      font-size: 14px;
      font-weight: 300;
      line-height: 18px;
      margin-right: 32px;
      margin: 10px 0;
      cursor: pointer;
    }
    > input[type="radio"] + label span {
      display: block;
      width: 14px;
      height: 14px;
      border: 1px solid #dddddd;
      background-color: #fff;
      border-radius: 50%;
      float: left;
      cursor: pointer;
      margin-right: 10px;
    }
    > input[type="radio"]:checked + label span {
      background-image: url('../i/icons/radio-checked-icon.png');
      background-repeat: no-repeat;
      background-size: 6px 6px;
      background-position: 4px 4px;
    }

  }
  &__title {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    margin: 0 0 20px;
    padding-bottom: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #0e0e0e;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    &:after {
      display: block;
      position: absolute;
      content: "";
      left: 0;
      bottom: -1px;
      width: 70px;
      height: 2px;
      background-color: #c12025;
    }
  }
  &__subtitle {
    width: 100%;
    float: left;
    margin: 0 0 15px;
    text-align: left;
    color: #0e0e0e;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
  }
  &__about {
    width: 100%;
    float: left;
    text-align: left;
    color: #0181db;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    text-decoration: underline;
    margin-left: 25px;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  .modal-confirm__yes {
    float: left;
    width: 146px;
    .icon {
      margin-left: 30px;
    }
    @include breakpoint(max-width 670px) {
      width: 47%;
    }
  }
  .modal-confirm__no {
    float: left;
    width: 146px;
    background-color: #c12025;
    margin-left: 20px;
    color: #fff;
    text-align: left;
    .icon {
      margin-left: 30px;
    }
    @include breakpoint(max-width 670px) {
      width: 47%;
    }
  }
  .modal-confirm__close {
    @include breakpoint(max-width 660px) {
      top: 18px;
      right: 20px;
    }
  }
}
